<li class="clear">
	<div class="user_avatar">
		<a class="avatar" href=""><img src="/images/avatar_32x32.jpg" /></a>
	</div>
	<div class="user_name">
		<h2><%= participant.login %></h2>
		<p class="activity">Last activity 1 day ago</p>
	</div><!-- / user_name -->
	<a class="user_edit" href="">Edit</a>
</li>