<div id="maincol">
	<div class="pod">
	<div class="hd">
		<h2>Edit Tournament Bracket</h2>
	</div><!-- / hd -->
	<div class="bd">
		Edit Tournament Bracket
	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->

<div id="sidecol">
</div><!-- / sidecol -->