<% title "Edit Message" %>

<div id="maincol">
	<div class="pod">
	<div class="bd">
		
	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->

<div id="sidecol">
</div><!-- / sidecol -->