<% title "Edit Message" %>

<div id="maincol">
	<div class="col">
	<div class="pod">
	<div class="bd">
		
	</div><!-- / bd -->
	</div><!-- / pod -->
	</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
	</div><!-- / col -->
</div><!-- / sidecol -->