<% stylesheet :messages %>
<% title "Valor Tournament" %>

<div id="maincol">
	<div class="pod tab-pod">
  	<div class="hd">
  	 <h2>Messages</h2>
			<ul class="tabbed clear">
				<li class="active"><a class=" rc" href="/preview/messages/new/">Create a New Message</a></li>
			</ul>
  	</div>
  	<div class="bd">
		  <table id="messages">
		    <tr>
          <td class="message_main">
		        <span class="message_subject">
							<p class="cat_announcement">Announcment</p>
							<a href="/preview/messages/show/">Message Subject</a>
						</span>
  		      <p>Posted by <a href="/preview/messages/show/" class="message_user">plankton</a> on 10/02/2009 at 3:23pm</p>
          </td>
          <td class="message_status"><p>
            <img src="/images/comment.gif" alt="comment" />
            <span>23</span> | <a href="/preview/messages/show/">2 unread</a></p>
          </td>		      
          <td class="message_latest">
		        <p>Latest Comment by <a href="/preview/messages/show/" class="message_user">mattdetails</a><br /> Yesterday 3:53am</p>
		      </td>
		    </tr><!-- /comment -->
		    <tr class="last">
          <td class="message_main">
		        <span class="message_subject"><a href="/preview/messages/show/">Message Subject</a></span>
  		      <p>Posted by <a href="/preview/messages/show/" class="message_user">plankton</a> on 10/02/2009 at 3:23pm</p>
          </td>
          <td class="message_status"><p>
            <img src="/images/comment.gif" alt="comment" />
            <span>23</span> | <a href="/preview/messages/show/">2 unread</a></p>
          </td>
          <td class="message_latest">
		        <p>Latest Comment by <a href="/preview/messages/show/" class="message_user">mattdetails</a><br /> Yesterday 3:53am</p>
		      </td>
		    </tr><!-- /comment -->
		  </table>
  	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->

<div id="sidecol">
	
</div><!-- / sidecol -->