<% stylesheet :new_message %>
<% title "New Message" %>

<div id="maincol">
	<div class="pod">
	<div class="bd clear">
	  <div id="message_main" class="group darkpod clear">
			<label>Subject</label>
			<input type="text" size="40"/>
			<label>Message</label>
			<textarea rows="15" cols="60" id="game"></textarea>
			<label class="dropdown_horz">Category</label>
			<select name="some_name" id="some_name">
				<option value="option1">Announcments</option>
				<option value="option2">option2</option>
			</select>
		</div><!-- / darkpod -->
		
		<div id="message_attach" class="group darkpod clear">
			<label>Attach a File</label>
			<p class="note">Files cannot be larger than 42 and must contain references to cats.</p>
			<input type="file" size="40"/>
		</div><!-- / darkpod -->
		
		<div id="message_subscribe" class="group darkpod clear">
			<label>Subscribe the following users to receive email notifications:</label>
			<input type="checkbox" size="40"/> <label class="checkbox">mattdetails</label>
			<input type="checkbox" size="40"/> <label class="checkbox">plankton
		</div><!-- / darkpod -->
		
			<a class="btn" href=""><span class="icon"></span><span>Post Message</span></a>
			<div class="btn_cancel">or <a href="">Cancel</a></div>
			
	</div><!-- / bd -->
	</div><!-- / pod -->
</div><!-- / main-col -->

<div id="sidecol">
</div><!-- / sidecol -->