<% stylesheet :messages %>
<% title "Recent Messages" %>

<div id="maincol">
	<div class="pod">
	<div class="bd clear">
	  
		<div id="message_header" class="clear">
	    <p id="message_category" class="cat_announcement">Announcement</p>
	   	<img src="/images/avatar_big.jpg" height="50" class="left" />
   	  <h2>Message Subject goes Here</h2>
   	  <p class="gray">Posted by mattdetails 23 days ago</p>
	  </div>
	
	  <div id="message_body">
	    <p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
  	  </p>
  	  <p>
				It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  	  </p>

			<ul class="files_attach clear">
				<li><a href=""><img src="/images/avatar_big.jpg" /></a></li>
				<li><a href=""><img src="/images/avatar_big.jpg" /></a></li>
				<li><a href=""><img src="/images/avatar_big.jpg" /></a></li>
			</ul><!-- / files_attach -->
		
	  </div>
	
	<div id="comment_mod">
	  <ul class="group">
	    <li class="comment pod darkpod">
	      <div class="comment_header">
	       <img src="/images/avatar_big.jpg" height="40" />
	       <h3>mattdetails says:</h3>
	       <p>posted 3 hours ago</p>
	      </div>
	      <div class="comment_body">
	        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<ul class="files_attach clear">
						<li><a href=""><img src="/images/avatar_big.jpg" /></a></li>
						<li><a href=""><img src="/images/avatar_big.jpg" /></a></li>
						<li><a href=""><img src="/images/avatar_big.jpg" /></a></li>
					</ul><!-- / files_attach -->
	      </div>
	    </li>
	    <li class="comment pod darkpod">
	      <div class="comment_header">
	       <img src="/images/avatar_big.jpg" height="40" />
	       <h3>mattdetails says:</h3>
	       <p>posted 3 hours ago</p>
	      </div>
	      <div class="comment_body">
	        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<ul class="files_attach clear">
						<li><a href=""><img src="/images/avatar_big.jpg" /></a></li>
						<li><a href=""><img src="/images/avatar_big.jpg" /></a></li>
						<li><a href=""><img src="/images/avatar_big.jpg" /></a></li>
					</ul><!-- / files_attach -->
	      </div>
	    </li>
	  </ul><!-- /comments ul -->
	
	  <div class="comment_form darkpod clear">
			<h4>Post a Comment</h4>
				<div><textarea rows="10" style="width: 98%;" id="game"></textarea></div>
				<div id="message_attach" class="group clear">
					<label>Attach a File</label>
					<p>Files cannot be larger than 42 and must contain references to cats.</p>
					<input type="file" size="40"/>
				</div><!-- / darkpod -->
				<div><a class="btn" href=""><span class="icon"></span><span>Post Comment</span></a></div>
		</div><!-- / darkpod -->
	</div><!-- / comment_mod -->
	  
	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->

<div id="sidecol">
</div><!-- / sidecol -->