<% content_for :head do -%>
<%= stylesheet_link_tag 'overview' %>
<% end -%>

<div style="display: none;"><!-- REMOVE THIS DIV AFTER WE ACTUALLY IMPLEMENT ALERTS -->
<div class="note yellow_note global_note">
	<p>Damn, RIP Billy Mays :( <a class="note-close" href="">X</a></p>
</div><!-- / global_note -->

<div class="note red_note global_note">
	<p>Sorry to hear that. <a class="note-close" href="">X</a></p>
</div><!-- / global_note -->
</div><!-- REMOVE THIS DIV AFTER WE ACTUALLY IMPLEMENT ALERTS -->

<div id="maincol">
<div class="col">
<% if !@instance.tournaments.blank? %>
  <% for tournament in @instance.tournaments %>
	<div class="pod">
  	<div class="hd">
  		<h2><%= link_to tournament.name, tournament_path(tournament) %></h2>
  	</div><!-- / hd -->
  	<div class="bd">
      <table id="overview">
  		  <% if !tournament.events.blank? %>
  		    <% for event in tournament.events %>
  		      <%= render :partial => "events/#{event.event_type.underscore}", :locals => {:event => event, :tournament => tournament} %>
  		    <% end %>
        <% else %>
  		    No Recent Activity
  		  <% end %>
  		  
        <!-->
  			<tr class="announcement">
  				<td class="item-icon"><span>Announcement</span></td>
  				<td class="item-title"><a href="/preview/messages/show">Tournament Delayed!</a></td>
  				<td class="item-action">Posted by</td>
  				<td class="item-posted">Matt J.</td>
  				<td class="item-date today">TODAY</td>
  			</tr>
  			<tr class="dispute">
  				<td class="item-icon"><span>Dispute</span></td>
  				<td class="item-title"><a href="">Match Dispute: Matt hates car salesman.</a></td>
  				<td class="item-action">Updated by</td>
  				<td class="item-posted">Matt J.</td>
  				<td class="item-date today">TODAY</td>
  			</tr>
  			<tr class="message">
  				<td class="item-icon"><span>Message</span></td>
  				<td class="item-title"><a href="">How does this work?</a></td>
  				<td class="item-action">Posted by</td>
  				<td class="item-posted">Bruce F.</td>
  				<td class="item-date today">TODAY</td>
  			</tr>
  			</tr>
  			<tr class="brackets">
  				<td class="item-icon"><span>Bracket Update</span></td>
  				<td class="item-title"><a href="">Matt Johnson takes round 2 away from James Au!</a></td>
  				<td class="item-action">Updated by</td>
  				<td class="item-posted">Matt J.</td>
  				<td class="item-date">Feb 15</td>
  			</tr>
  			<tr class="schedule">
  				<td class="item-icon"><span>Schedule Change</span></td>
  				<td class="item-title"><a href="">Your match was moved!</a></td>
  				<td class="item-action">Updated by</td>
  				<td class="item-posted">Matt J.</td>
  				<td class="item-date">Feb 15</td>
  			</tr>
  			<tr class="comment">
  				<td class="item-icon"><span>Comment</span></td>
  				<td class="item-title"><a href="">RE: How does this work?</a></td>
  				<td class="item-action">Posted by</td>
  				<td class="item-posted">James A.</td>
  				<td class="item-date">Feb 15</td>
  			</tr>
  			<tr class="message">
  				<td class="item-icon"><span>Message</span></td>
  				<td class="item-title"><a href="">How does this work?</a></td>
  				<td class="item-action">Posted by</td>
  				<td class="item-posted">Bruce F.</td>
  				<td class="item-date">Feb 15</td>
  			</tr>
  			<tr class="brackets last">
  				<td class="item-icon"><span>Bracket Update</span></td>
  				<td class="item-title"><a href="">Matt Johnson takes round 2 away from James Au!</a></td>
  				<td class="item-action">Updated by</td>
  				<td class="item-posted">Matt J.</td>
  				<td class="item-date">Feb 15</td>
  			</tr>
			  -->
  		</table>
  	</div><!-- / bd -->
	</div><!-- / pod -->
  <% end %>
<% else %>
  No Tournaments
<% end %>
</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
<div class="col">
  <div class="account_logo">
    <img src="/images/logo.png"/>
  </div><!-- / account_logo -->
<%= render :partial => "layouts/sidenav" %>
</div><!-- / col -->
</div><!-- / sidecol -->
