#battle_bar {
	background: #1c1e20 url(/images/bbar_bg.gif) left bottom repeat-x;
	border-bottom: 1px #2f3336 solid;
	text-align: left;
	top: 0;
	left: 0;
	padding: 0;
	position: relative;
	margin: 0;
	width: 100%;
	z-index: 9999;
}

#battle_bar #bar_content {
	margin: 0 auto;
	width: 1100px;
}

#battle_bar a:hover {
	color: #FFF;
}

/* 
User Avatar
-------------------------------------------------------------------------------------
*/

#battle_bar #user_avatar {
}

#battle_bar #user_avatar {
  float: left;
  padding: 6px 0 0 0;
}

#battle_bar #user_avatar ul li {
  float: left;
  display: block;
}

#battle_bar #user_avatar ul li#logged_in {
  font-size: 12px;
  color: #929ca6;
  padding: 9px 4px 0 0;
}

#battle_bar #user_avatar a#avatar {
  font-weight: bold;
	padding: 6px 10px 6px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#battle_bar #user_avatar a#avatar img {
  display: block;
	float: left;
	width: 18px;
}

#battle_bar #user_avatar a#avatar span {
	display: block;
	float: left;
	font-size: 13px;
	font-weight: bold;
	padding: 2px 0 0 7px;
	color: #FFF;
}

#battle_bar #user_avatar a#avatar:hover {
	background: #000 url(../images/acct_nav_icon_settings.png) 90% center no-repeat;
	padding: 6px 30px 6px 10px;
	text-decoration: none;
	opacity: 0.75;
	
}

/* 
Tournament Menu
-------------------------------------------------------------------------------------
*/

#battle_bar #your_tournaments {
	float: left;
	position: relative;
}

#battle_bar #your_tournaments a {
	display: block;
	border-right: 1px #2a2c30 solid;
	padding: 14px 15px 8px 15px;
}

#battle_bar #your_tournaments a:hover {
	background: #FFF;
	text-decoration: none !important;
}

#battle_bar #your_tournaments a span#tmenu_txt {
	color: #77828f;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: normal;
}

#battle_bar #your_tournaments a:hover span#tmenu_txt {
	color: #000;
}

#battle_bar #your_tournaments a span#tmenu_unread {
	
	background: transparent url(/images/tmenu_count_bg.png) 1px 0 no-repeat;
	color: #FFF;
	display: block;
	float: left;
	font-size: 11px;
	font-weight: bold;
	left: 8px;
	padding: 5px 0 4px 0;
	position: relative;
	text-align: center;
	top: -4px;
	width: 21px;
}

#battle_bar #your_tournaments a:hover span#tmenu_unread {
	background: transparent url(/images/tmenu_count_blk_bg.png) 0 0 no-repeat;
	color: #FFF;
	text-decoration: none !important;
}

#battle_bar #your_tournaments #tmenu {
	display: none;
}

#battle_bar #your_tournaments:hover a {
	background: #FFF;
}

#battle_bar #your_tournaments:hover a span#tmenu_txt {
	color: #000;
}

#battle_bar #your_tournaments:hover a span#tmenu_unread {
	background: transparent url(/images/tmenu_count_blk_bg.png) 1px 0 no-repeat;
	color: #FFF;
	text-decoration: none !important;
}

#battle_bar #your_tournaments:hover #tmenu {
  background: transparent url(/images/menu_shadow.png) 0 0 repeat;
	display: block;
	left: -6px;
	padding: 0 6px 6px 6px;
	position: absolute;
	top: 40px;
	z-index: 1000;
	-moz-border-radius-bottomleft:      7px;
	-moz-border-radius-bottomright:     7px;
	-webkit-border-bottom-left-radius:  7px;
	-webkit-border-bottom-right-radius: 7px;
}

#battle_bar #your_tournaments:hover #tmenu #tmenu_inner {
  background: #FFF;
	padding: 4px;
	width: 350px;
	-moz-border-radius-bottomleft:      5px;
	-moz-border-radius-bottomright:     5px;
	-webkit-border-bottom-left-radius:  5px;
	-webkit-border-bottom-right-radius: 5px;
}

#battle_bar #your_tournaments:hover #tmenu #tmenu_inner h3 {
	color: #666;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 0 7px 5px;
}

#battle_bar #your_tournaments:hover #tmenu ul {
	margin: 0 0 0 0;
}

#battle_bar #your_tournaments:hover #tmenu ul li {
	display: block;
	float: none !important;
}

#battle_bar #your_tournaments:hover #tmenu ul li a {
	color: #0197d6;
	background: #FFF;
	border: 0;
	display: block;
	font-weight: bold;
	font-size: 12px !important;
	padding: 9px 7px 8px 7px;
	-moz-border-radius:     2px;
	-webkit-border-radius:  2px;
}

#battle_bar #your_tournaments:hover #tmenu ul li:hover a:hover.tedit {
	background-position: bottom;
}

#battle_bar #your_tournaments:hover #tmenu ul li:hover a {
	color: #FFF;
	background: #999;
	text-decoration: none;
}

#battle_bar #your_tournaments:hover #tmenu ul li a em {
	color: #666;
	display: block;
	font-weight: normal;
	padding: 5px 0 0 5px;
}

#battle_bar #your_tournaments:hover #tmenu ul li:hover a em {
	color: #FFF;
}

#battle_bar #your_tournaments:hover #tmenu ul li a.tedit {
	display: none;
}

#battle_bar #your_tournaments:hover #tmenu ul li:hover a.tedit {
	background: transparent url(/images/icon_edit_tournament.png) 0 0 no-repeat;
	display: block;
	float: right;
	height: 24px;
	left: -11px;
	margin: 0;
	padding: 0;
	position: relative;
	text-indent: -9999px;
	top: 12px;
	width: 24px;
}

/* 
Match Menu
-------------------------------------------------------------------------------------
*/

#battle_bar #your_matches p a {
	background: transparent url(/images/icon_time32.png) 7px 2px no-repeat;
	border-right: 1px #2a2c30 solid;
	float: left;
	padding: 12px 15px 15px 47px;
}

#battle_bar #your_matches p a {
	color: #77828f;
	font-weight: normal;
}

#battle_bar #your_matches p a:hover {
	background: #121314 url(/images/icon_time32.png) 7px -50px no-repeat;
	color: #95a0ac;
	text-decoration: none;
}

#battle_bar #your_matches p {
	font-size: 13px;
	position: relative;
	top: 2px;
}

#battle_bar #your_tournaments:hover #tmenu #tmenu_inner #matches_today ul li a {
	color: #00900a;
	font-weight: bold;
}

#battle_bar #your_tournaments:hover #tmenu #tmenu_inner #matches_today ul li a em {
	color: #3fa046;
}

#battle_bar #your_tournaments:hover #tmenu #tmenu_inner #matches_today ul li a:hover, 
#battle_bar #your_tournaments:hover #tmenu #tmenu_inner #matches_today ul li a:hover em {
	color: #FFF;
	background: #00900a;
}

/* 
User Nav
-------------------------------------------------------------------------------------
*/

#user_nav ul {
	float: right;
	margin: 7px 0 0 0;
}

#user_nav ul li {
  display: block;
	float: left;
	margin: 0 0 0 20px;
}

#user_nav ul li a {
	color: #BBB;
	display: block;
	font-size: 12px;
	float: right;
	padding: 8px 12px 8px 12px;
	-moz-border-radius:     4px;
	-webkit-border-radius:  4px;
}

#user_nav ul li a:hover {
	background: #1a1d1e;
	color: #FFF;
	text-decoration: none;
}

#user_nav ul li#user_logout a {
	background: transparent url(/images/icon_logout.png) 6px 6px no-repeat;
	color: #FFF;
	padding: 8px 12px 8px 27px;
}

#user_nav ul li#user_logout a:hover {
	background: #000 url(/images/icon_logout.png) 6px 6px no-repeat;
	text-decoration: underline;
}

#logged_out #user_nav ul {
	margin: 7px 0 7px 0;
}

#logged_out #user_nav ul li#user_signup a {
	background: #017ecc url(/images/icon_signup.png) 6px 6px no-repeat;
	color: #FFF;
	padding: 8px 12px 8px 27px;
}

#logged_out #user_nav ul li#user_signup a:hover {
	background: #017ecc url(/images/icon_signup.png) 6px 6px no-repeat;
	text-decoration: underline;
}

#logged_out #user_nav ul li#user_signup p, #logged_out #user_nav ul li#user_login p {
  color: #77828f;
  font-size: 13px;
  float: left;
  padding: 8px 10px 0 0;
}

/* 
User Login
-------------------------------------------------------------------------------------
*/

#logged_out #user_nav ul li#user_login button {
	background: #000 url(/images/icon_login.png) 6px 6px no-repeat;
	color: #FFF;
	display: block;
	font-size: 12px;
	float: right;
	padding: 8px 12px 8px 27px;
	-moz-border-radius:     4px;
	-webkit-border-radius:  4px;
}

#logged_out #user_nav ul li#user_login button:hover {
	background: #000 url(/images/icon_login.png) 6px 6px no-repeat;
	text-decoration: underline;
}

#logged_out #user_nav ul li#user_login div.login_btn {
  display: none;
}

#logged_out #user_nav ul li#user_login label {
  color: #77828f;
  display: block;
  font-size: 12px;
  float: left;
  margin: 9px 5px 0 5px;
}

#logged_out #user_nav ul li#user_login input {
  background: #282c2e;
  border: 1px #323739 solid;
  color: #FFF;
  display: block;
  font-size: 13px;
  float: left;
  margin: 1px 10px 0 0;
  padding: 5px 3px 5px 3px;
}

#logged_out #user_nav ul li#user_login input:focus {
  background: #FFF;
  border: 1px #000 solid;
  color: #000;
}

#battle_bar ul li#user_logout {
  padding: 0 0 0 0;
  margin: 0 0 0 8px;
}

#battle_bar ul li#user_logout a {
	padding: 8px 12px 8px 27px;
	background: transparent url(/images/icon_logout.png) 6px 6px no-repeat;
	font-size: 12px;
	display: block;
	-moz-border-radius:     4px;
	-webkit-border-radius:  4px;
}

#battle_bar ul li#user_logout a:hover {
	background: #111 url(/images/icon_logout.png) 6px 6px no-repeat;
	text-decoration: none;
	color: #FFF;
}

#battle_bar ul li#feedback {
  float: left;
  display: block;
  margin: 0 3px 0 13px;
  padding: 0 0 0 0;
}

#battle_bar ul li#feedback a {
	padding: 8px 12px 8px 27px;
	background: transparent url(/images/icon_help.png) 6px 6px no-repeat;
	font-size: 12px;
	display: block;
	-moz-border-radius:     4px;
	-webkit-border-radius:  4px;
}

#battle_bar ul li#feedback a:hover {
	background: #000 url(/images/icon_help.png) 6px 6px no-repeat;
	text-decoration: none;
	color: #FFF;
}