#battle_bar {
	background: #1c1e20 url(/images/bbar_bg.gif) left bottom repeat-x;
	border-bottom: 1px #2f3336 solid;
	text-align: left;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 9999;
}

#battle_bar #bar_content {
	width: 1100px;
	margin: 0 auto;
}

#battle_bar a:hover {
	color: #FFF;
}

#battle_bar #user_avatar {
}

#battle_bar #user_avatar img {
	float: left;
	display: block;
}

#battle_bar #user_avatar a#avatar span {
	font-size: 14px;
	font-weight: normal;
	display: block;
	float: left;
	padding: 9px 0 0 10px;
}

#battle_bar #user_avatar a#avatar {
	padding: 5px 10px 5px 10px;
	color: #77828f;
	display: block;
	float: left;
	border-left: 1px #2a2c30 solid;
	border-right: 1px #2a2c30 solid;
}

#battle_bar #user_avatar a#avatar:hover {
	text-decoration: none;
	background: #121314;
	color: #95a0ac;
}

#battle_bar #your_tournaments {
	float: left;
	position: relative;
}

#battle_bar #your_tournaments a {
	padding: 14px 15px 8px 15px;
	display: block;
	border-right: 1px #2a2c30 solid;
}

#battle_bar #your_tournaments a:hover {
	background: #FFF;
	text-decoration: none !important;
}

#battle_bar #your_tournaments a span#tmenu_txt {
	font-size: 13px;
	color: #77828f;
	font-weight: normal;
	display: block;
	float: left;
}

#battle_bar #your_tournaments a:hover span#tmenu_txt {
	color: #000;
}

#battle_bar #your_tournaments a span#tmenu_unread {
	font-size: 11px;
	background: transparent url(/images/tmenu_count_bg.png) 1px 0 no-repeat;
	font-weight: bold;
	color: #FFF;
	width: 21px;
	display: block;
	padding: 5px 0 4px 0;
	float: left;
	position: relative;
	text-align: center;
	left: 8px;
	top: -4px;
}

#battle_bar #your_tournaments a:hover span#tmenu_unread {
	text-decoration: none !important;
	background: transparent url(/images/tmenu_count_blk_bg.png) 0 0 no-repeat;
	color: #FFF;
}

#battle_bar #your_tournaments #tmenu {
	display: none;
}

#battle_bar #your_tournaments:hover a {
	background: #FFF;
}

#battle_bar #your_tournaments:hover a span#tmenu_txt {
	color: #000;
}

#battle_bar #your_tournaments:hover a span#tmenu_unread {
	text-decoration: none !important;
	background: transparent url(/images/tmenu_count_blk_bg.png) 1px 0 no-repeat;
	color: #FFF;
}

#battle_bar #your_tournaments:hover #tmenu {
	display: block;
	position: absolute;
	top: 40px;
	left: -6px;
	z-index: 1000;
	padding: 0 6px 6px 6px;
	background: transparent url(/images/menu_shadow.png) 0 0 repeat;
	-moz-border-radius-bottomleft:      7px;
	-moz-border-radius-bottomright:     7px;
	-webkit-border-bottom-left-radius:  7px;
	-webkit-border-bottom-right-radius: 7px;
}

#battle_bar #your_tournaments:hover #tmenu #tmenu_inner {
	width: 350px;
	background: #FFF;
	padding: 4px;
	-moz-border-radius-bottomleft:      5px;
	-moz-border-radius-bottomright:     5px;
	-webkit-border-bottom-left-radius:  5px;
	-webkit-border-bottom-right-radius: 5px;
}

#battle_bar #your_tournaments:hover #tmenu #tmenu_inner h3 {
	color: #666;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 0 7px 5px;
}

#battle_bar #your_tournaments:hover #tmenu ul {
	margin: 0 0 0 0;
}

#battle_bar #your_tournaments:hover #tmenu ul li {
	display: block;
	float: none !important;
}

#battle_bar #your_tournaments:hover #tmenu ul li a {
	color: #0197d6;
	background: #FFF;
	padding: 9px 7px 8px 7px;
	display: block;
	font-weight: bold;
	border: 0;
	-moz-border-radius:     2px;
	-webkit-border-radius:  2px;
	font-size: 12px !important;
}

#battle_bar #your_tournaments:hover #tmenu ul li:hover a:hover.tedit {
	background-position: bottom;
}

#battle_bar #your_tournaments:hover #tmenu ul li:hover a {
	color: #FFF;
	background: #999;
	text-decoration: none;
}

#battle_bar #your_tournaments:hover #tmenu ul li a em {
	display: block;
	color: #666;
	padding: 5px 0 0 5px;
	font-weight: normal;
}

#battle_bar #your_tournaments:hover #tmenu ul li:hover a em {
	color: #FFF;
}

#battle_bar #your_tournaments:hover #tmenu ul li a.tedit {
	display: none;
}

#battle_bar #your_tournaments:hover #tmenu ul li:hover a.tedit {
	display: block;
	float: right;
	width: 24px;
	height: 24px;
	background: transparent url(/images/icon_edit_tournament.png) 0 0 no-repeat;
	text-indent: -9999px;
	position: relative;
	top: 12px;
	left: -11px;
	padding: 0;
	margin: 0;
}

#battle_bar #your_matches p a {
	background: transparent url(/images/icon_time32.png) 7px 2px no-repeat;
	border-right: 1px #2a2c30 solid;
	float: left;
	padding: 12px 15px 15px 47px;
}

#battle_bar #your_matches p a {
	color: #77828f;
	font-weight: normal;
}

#battle_bar #your_matches p a:hover {
	background: #121314 url(/images/icon_time32.png) 7px -50px no-repeat;
	color: #95a0ac;
	text-decoration: none;
}

#battle_bar #your_matches p {
	font-size: 13px;
	position: relative;
	top: 2px;
}

#battle_bar #your_tournaments:hover #tmenu #tmenu_inner #matches_today ul li a {
	color: #00900a;
	font-weight: bold;
}

#battle_bar #your_tournaments:hover #tmenu #tmenu_inner #matches_today ul li a em {
	color: #3fa046;
}

#battle_bar #your_tournaments:hover #tmenu #tmenu_inner #matches_today ul li a:hover, 
#battle_bar #your_tournaments:hover #tmenu #tmenu_inner #matches_today ul li a:hover em {
	color: #FFF;
	background: #00900a;
}

#user_nav ul {
	float: right;
	margin: 7px 0 0 0;
}

#user_nav ul li {
	float: left;
	display: block;
	margin: 0 3px 0 3px;
}

#user_nav ul li a {
	color: #BBB;
	font-size: 12px;
	display: block;
	padding: 8px 12px 8px 12px;
	-moz-border-radius:     4px;
	-webkit-border-radius:  4px;
}

#user_nav ul li a:hover {
	background: #1a1d1e;
	color: #FFF;
	text-decoration: none;
}

#user_nav ul li#user_login a {
	padding: 8px 12px 8px 27px;
	background: #017ecc url(/images/icon_login.png) 6px 6px no-repeat;
	color: #FFF;
}

#user_nav ul li#user_login a:hover {
	background: #017ecc url(/images/icon_login.png) 6px 6px no-repeat;
	text-decoration: underline;
}

#user_nav ul li#user_logout a {
	padding: 8px 12px 8px 27px;
	background: transparent url(/images/icon_logout.png) 6px 6px no-repeat;
	color: #FFF;
}

#user_nav ul li#user_logout a:hover {
	background: #000 url(/images/icon_logout.png) 6px 6px no-repeat;
	text-decoration: underline;
}

#logged_out #user_nav ul {
	margin: 7px 0 7px 0;
}

#logged_out #user_nav ul li#user_signup a {
	padding: 8px 12px 8px 27px;
	background: #017ecc url(/images/icon_signup.png) 6px 6px no-repeat;
	color: #FFF;
}

#logged_out #user_nav ul li#user_signup a:hover {
	background: #017ecc url(/images/icon_signup.png) 6px 6px no-repeat;
	text-decoration: underline;
}

#logged_out #user_nav ul li#user_login a {
	padding: 8px 12px 8px 27px;
	background: #000 url(/images/icon_login.png) 6px 6px no-repeat;
	color: #FFF;
}

#logged_out #user_nav ul li#user_login a:hover {
	background: #000 url(/images/icon_login.png) 6px 6px no-repeat;
	text-decoration: underline;
}

#logged_out p {
	float: right;
	padding: 15px 20px 0 0;
	font-size: 14px;
	color: #77828f;
}

#logged_out ul li p {
	padding: 8px 10px 0 15px;
}