/* General Bracket Styles
-------------------------------------------*/
.full_width {
  width: 100% !important;
}

#bracket_window {
  background: #101212;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

ul.round {
  float: left;
  width: 164px;
  border-right: 1px solid #171a1a;
}

ul.round li.round_header {
  background-color: #1d2020;
}

ul.round:first-child li.round_header {
  -webkit-border-top-left-radius:  4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft:  4px;
  -moz-border-radius-topright: 4px;
}

ul.round li.round_header h3 {
  font-size: 13px;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  text-indent: 15px;
  margin: 0;
  border-right: 1px solid #272b2b;
  margin-right: -1px;
}

li.match {
  padding: 0 47px 0 23px;
  margin-right: -24px;
}



li.match li.player#me a {
  background-color: #ca5a00;
  border-color: #e39700;
}

li.match li.player a {
  display: block;
  background-color: #425154;
  height: 27px;
  border: 1px solid #4c5a5d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: #fff;
  line-height: 27px;
}

li.match li.player.disqualified a {
  opacity: 0.5;
}
li.match li.player img.disqualified {
  float: right;
  position: relative;
  top: -22px;
  right: -9px;
}

li.match li.player a:hover, 
li.match li.player a.hover {
  color: #fff;
  background-color: #0082b9 !important;
  border-color: #0094c4 !important;
  text-decoration: none;
  opacity: 1;
}

li.match li.player img.bracket_avatar {
  float: left;
  height: 21px;
  width: 21px;
  margin-right: 6px;
  position: relative;
  top: 3px;
  left: 3px;
}

li.match li.comments {
  color: #2a2f30;
  text-align: center;
}

li.match li.comments a {
  color: #fff;
  font-size: 10px;
  font-weight: normal;
}

/* Round 1 Styles
-------------------------------------------*/

ul.round#r1 {
  z-index: 2;
}

ul.round#r1 li.match {
  padding-top: 25px;
  padding-bottom: 25px;
  background: url(../images/bracket_r1.gif) right 25px no-repeat;
}

ul.round#r1 li.match li.comments {
  height: 31px;
  line-height: 31px;
}

/* Round 2 Styles
-------------------------------------------*/

ul.round#r1 {
  z-index: 1;
}

ul.round#r2 li.match {
  padding-top: 55px;
  padding-bottom: 55px;
  background: url(../images/bracket_r2.gif) right 55px no-repeat;
}

ul.round#r2 li.match li.comments {
  height: 110px;
  line-height: 110px;
}

/* Round 3 Styles
-------------------------------------------*/

ul.round#r3 li.match {
  padding-top: 124px;
  padding-bottom: 124px;
  background: url(../images/bracket_r3.gif) right 124px no-repeat;
}

ul.round#r3 li.match li.comments {
  height: 248px;
  line-height: 248px;
}


/* Round 4 Styles
-------------------------------------------*/

ul.round#r4 li.match {
  padding-top: 261px;
  padding-bottom: 261px;
  background: url(../images/bracket_r4.gif) 260px right no-repeat;
}

ul.round#r4 li.match li.comments {
  height: 527px;
  line-height: 527px;
}


/* Round 5 Styles
-------------------------------------------*/

ul.round#r5 li.match {
  padding-top: 538px;
  padding-bottom: 538px;
  background: url(../images/bracket_r5.gif) 538px right no-repeat;
}

ul.round#r5 li.match li.comments {
  height: 1077px;
  line-height: 1077px;
}


/* Round 6 Styles
-------------------------------------------*/

ul.round#r6 li.match {
  padding-top: 1094px;
  padding-bottom: 1094px;
  background: url(../images/bracket_r5.gif) 260px right no-repeat;
}

ul.round#r6 li.match li.comments {
  height: 1077px;
  line-height: 1077px;
}


/* Overides
--------------------------------------------*/

ul.round.final li.match {
  background-image: none !important;
}