/* General Bracket Styles
-------------------------------------------*/
.full_width {
  font-size: 13px;
  width: 100.5% !important;
}

#bracket_window {
  background: #101212 url(../images/bracket_header.gif) repeat-x;
  color: #fff;
  margin: 8px 0 8px 0;
  min-height: 66px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#not_started_message {
  color: #425154;
  font-size: 14px;
  font-weight: bold;
  padding: 86px 0 20px;
  text-align: center;
}

ul.round {
  border-right: 1px solid #171a1a;
  float: left;
  width: 164px;
}

ul.round li.round_header {
  background-color: #1d2020;
}

ul.round li.round_date {
  background-color: #0a0c0c;
  border-bottom: 1px solid #151717;
  color: #5d656a;
  font-size: 11px;
  height: 29px;
  line-height: 29px;
  padding: 0 8px;
}

ul.round li.round_date span {
  float: left;
}

ul.round li.round_date a {
  float: right;
  font-size: 11px;
}

ul.round:first-child li.round_header {
  -webkit-border-top-left-radius:  4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft:  4px;
  -moz-border-radius-topright: 4px;
}

ul.round li.round_header {
	position: relative;
}

ul.round li.round_header h3 {
  border-right: 1px solid #272b2b;
  font-size: 13px;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  margin: 0;
  margin-right: -1px;
  text-indent: 15px;
}

ul.round li.round_header a.round_info {
	background: transparent url(/images/icon_round_info.gif) 0 0 no-repeat;
	bottom: 0;
	display: block;
	height: 16px;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	width: 16px;
}

ul.round li.round_header a.round_info:hover {
	background-position: bottom;
}

li.match {
  padding: 0 47px 0 23px;
  margin-right: -24px;
}

li.player {
  height: 29px;
  overflow: visible;
}


li.player a.player_link, 
li.player span {
  background-color: #425154;
  border: 1px solid #4c5a5d;
  color: #fff;
  display: block;
  height: 27px;
  line-height: 27px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

li.player.disqualified a.player_link,
li.player.disqualified span {
  opacity: 0.5;
}
li.player img.disqualified {
  float: right;
  position: relative;
  top: -18px;
  right: -3px;
  z-index: 10;
}

li.match.disputed li.player a.player_link,
li.player.disputed span {
  background-color: #b92300;
  border-color: #cc4600;
}

li.player.disputed span { color: #de694d; }
li.player.tbd span { 
  color: #829092;
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter:alpha(opacity=40); }

li.player.disputed span,
li.player.tbd span {
  font-weight: bold;
  text-align: center;
} 

li.player a.player_link:hover, 
li.player a.player_link.hover {
  background-color: #0082b9 !important;
  border-color: #0094c4 !important;
  color: #fff;
  opacity: 1;
  text-decoration: none;
}

li.player img.bracket_avatar {
  float: left;
  height: 21px;
  left: 3px;
  margin-right: 6px;
  position: relative;
  top: 3px;
  width: 21px;
}

li.match li.comments {
  color: #2a2f30;
  text-align: center;
}

li.match li.comments a {
  color: #fff;
  font-size: 10px;
  font-weight: normal;
}


/* Round 1 Styles
-------------------------------------------*/

ul.round#r1 {
  z-index: 2;
}

ul.round#r1 li.match {
  background: url(../images/bracket_r1.gif) right 25px no-repeat;
  padding-bottom: 25px;
  padding-top: 25px;
}

ul.round#r1 li.match li.comments {
  height: 31px;
  line-height: 31px;
}

ul.round#r1 li.match.winner-p1 { background-image: url(../images/bracket_r1_p1.gif); }

ul.round#r1 li.match.winner-p2 { background-image: url(../images/bracket_r1_p2.gif); }

ul.round#r1 li.match.disputed  { background-image: url(../images/bracket_r1_disputed.gif); }

ul.round#r1 li.match .highlight {
  background-image: url(../images/bracket_r1_highlight.gif);
  height: 89px;
}

ul.round#r1 {
  z-index: 1;
}

/* Round 2 Styles
-------------------------------------------*/


ul.round#r2 li.match {
  padding-bottom: 55px;
  padding-top: 55px;
  background: url(../images/bracket_r2.gif) right 55px no-repeat;
}

ul.round#r2 li.match li.comments {
  height: 110px;
  line-height: 110px;
}

ul.round#r2 li.match.winner-p1 { background-image: url(../images/bracket_r2_p1.gif); }

ul.round#r2 li.match.winner-p2 { background-image: url(../images/bracket_r2_p2.gif); }

ul.round#r2 li.match.disputed  { background-image: url(../images/bracket_r2_disputed.gif); }

ul.round#r2 li.match .highlight {
  background-image: url(../images/bracket_r2_highlight.gif);
  height: 168px;
}


/* Round 3 Styles
-------------------------------------------*/

ul.round#r3 li.match {
  background: url(../images/bracket_r3.gif) right 124px no-repeat;
  padding-bottom: 124px;
  padding-top: 124px;
}

ul.round#r3 li.match li.comments {
  height: 248px;
  line-height: 248px;
}

ul.round#r3 li.match.winner-p1 { background-image: url(../images/bracket_r3_p1.gif); }

ul.round#r3 li.match.winner-p2 { background-image: url(../images/bracket_r3_p2.gif); }

ul.round#r3 li.match.disputed { background-image: url(../images/bracket_r3_disputed.gif); }

ul.round#r3 li.match .highlight {
  background-image: url(../images/bracket_r3_highlight.gif);
  height: 306px;
}


/* Round 4 Styles
-------------------------------------------*/

ul.round#r4 li.match {
  background: url(../images/bracket_r4.gif) 260px right no-repeat;
  padding-bottom: 261px;
  padding-top: 261px;
}

ul.round#r4 li.match li.comments {
  height: 527px;
  line-height: 527px;
}

ul.round#r4 li.match.winner-p1 { background-image: url(../images/bracket_r4_p1.gif); }

ul.round#r4 li.match.winner-p2 { background-image: url(../images/bracket_r4_p2.gif); }

ul.round#r4 li.match.disputed { background-image: url(../images/bracket_r4_disputed.gif); }

ul.round#r4 li.match .highlight {
  background-image: url(../images/bracket_r2_highlight.gif);
  height: 585px;
}

/* Round 5 Styles
-------------------------------------------*/

ul.round#r5 li.match {
  background: url(../images/bracket_r5.gif) 538px right no-repeat;
  padding-bottom: 538px;
  padding-top: 538px;
}

ul.round#r5 li.match li.comments {
  height: 1077px;
  line-height: 1077px;
}

ul.round#r5 li.match.winner-p1 { background-image: url(../images/bracket_r5_p1.gif); }

ul.round#r5 li.match.winner-p2 { background-image: url(../images/bracket_r5_p2.gif); }

ul.round#r5 li.match.disputed { background-image: url(../images/bracket_r5_disputed.gif); }

ul.round#r5 li.match .highlight {
  background-image: url(../images/bracket_r5_highlight.gif);
  height: 1141px;
}

/* Round 6 Styles
-------------------------------------------*/

ul.round#r6 li.match {
  background: url(../images/bracket_r6.gif) 260px right no-repeat;
  padding-bottom: 1094px;
  padding-top: 1094px;
}

ul.round#r6 li.match li.comments {
  height: 1077px;
  line-height: 1077px;
}

ul.round#r6 li.match.winner-p1 {
  background-image: url(../images/bracket_r6_p1.gif);
}

ul.round#r6 li.match.winner-p2 {
  background-image: url(../images/bracket_r6_p2.gif);
}

/* host links
--------------------------------------------*/
.manage_player_link {
  background-image: url(../images/manage_player.png);
  display: none;
  height: 14px;
  overflow: hidden;
  position: absolute;
  text-indent: -9000px;
  width: 14px;
}


.host_links {
  background-color: #2a3639;
  border-color: #334244;
  border-style: solid;
  border-width: 1px;
  display: none;
  height: 58px;
  position: absolute;
  text-align: center;
  width: 124px;
  z-index: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.host_links a {
  background: none !important;
  padding: 0 !important;
  border: 0 !important;
  display: inline !important;
  margin: 0 3px;
  position: relative;
  top: 38px;
}


li.player a {
  position: relative;
  z-index: 1;
}

ul#host_management_tools {
  width: 290px;
}



/* misc
--------------------------------------------*/
ul.round li.match.winner-p2 .highlight {
  background-position: bottom right;
}

ul.round.final li.match {
  background-image: none !important;
}

.highlight {
  height: 100px;
  position: absolute;
  width: 47px;
}


li.match.winner-p2 .hightlight {
  background-position: top right;
}