label {
	font-size: 13px;
	color: #444;
	position: relative;
	margin: 0 5px 10px 0;
}

input, textarea {
	width: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-x-system-font: none;
	border: 1px solid #CCCCCC;
	font-size: 13px;
	font-family: Arial, sans-serif;
	padding: 7px 5px 7px 5px;
	font-weight: normal;
	color: #555;
	margin: 0 0 10px 0;
}

input:focus, textarea:focus {
	color: #000;
	font-weight: normal;
	outline-color: #017ecc;
	outline-style: none;
	outline-width: medium;
}

textarea {
	line-height: 24px;
	font-family: "Lucida Grande", sans-serif;
	width: 98%;
}

input[type="checkbox"] {
	padding: 0;
	margin: 0;
	border: 0;
}

select {
	font-size: 13px;
}

label.checkbox {
	display: inline;
}


label.textarea {
	display: block;
	margin: 0 0 5px 0;
}

label.lg {
	font-weight: bold;
	font-size: 16px;
}

label.dropdown_horz {
	display: inline;
}

.left_block {
	float: left;
}

.block {
	margin: 0 0 10px 0;
}

.errorExplanation {
	background: #FFF;
	border: 1px #BBB solid;
	padding: 10px;
	margin: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.errorExplanation h2 {
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 10px 0;
	color: #cd0000;
}

.errorExplanation p {
	color: #5d0000;
	font-size: 14px;
}

.errorExplanation ul li {
	list-style-type: disc;
	margin: 10px 0 5px 25px;
	font-size: 13px;
}

