label {
	font-weight: bold;
	font-size: 14px;
	color: #333;
	position: relative;
	top: 6px;
	margin: 0 5px 0 0;
}

input[type="text"], input[type="password"], textarea {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-x-system-font: none;
	border: 1px solid #CCCCCC;
	font-size: 14px;
	font-family: Arial, sans-serif;
	padding: 5px 5px 4px 5px;
	font-weight: bold;
	color: #777;
}

input:focus, textarea:focus {
	background: #dbf4ff;
	border-color: #0197d6;
	color: #0197d6;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
}