/* 
GLOBAL Stylesheet ---------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
------- Feel Free to look around my CSS files.  I don't mind.  That's how I learned. --------
-------------------------- But do not steal my designs. Thanks ------------------------------
---------------------------------------------------------------------------------------------
*/

/* 
Global
-------------------------------------------------------------------------------------
*/

body {
	background: #141516;
	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	margin: 0 0 40px 0;
}

.gray {
  color: #999;
}

strong {
  font-weight: bold;
}

a, a:visited {
	color: #017ecc;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

.rc {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* 
Headings
-------------------------------------------------------------------------------------
*/

.pod h3 {
  font-size: 16px;
  font-weight: bold;
	margin: 20px 0 10px 0;
}

.pod h3.first {
	margin: 0 0 10px 0;
}

.pod .hd h2 {
	font-size: 15px;
	color: #333;
	font-weight: bold;
}

.pod .hd h2 a {
	color: #333;
	text-decoration: underline;
}

.pod .hd h2 a:hover {
	color: #000;
	text-decoration: none;
}

/* 
Global Buttons
------------------------------------------------------------------------------
*/

a.txtlink-red {
	color: #bb0000;
}

.smlink, .smlink:visited {
	text-decoration: none;
	font-weight: normal;
	font-size: 11px;
	padding: 5px 8px 3px 8px;
	display: inline-block;
	position: relative;
	top: -2px;
}

.medlink, .medlink:visited {
	text-decoration: none;
	font-weight: normal;
	font-size: 13px;
	padding: 5px 12px 4px 12px;
	display: inline-block;
	position: relative;
	top: -2px;
}

.biglink, .biglink:visited {
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	padding: 8px 10px 7px 10px;
	display: inline-block;
	margin: 3px 0 3px 0;
	position: relative;
	top: -2px;
}

.bl, .bl:visited {
	background: #0197d6 url(/images/btn-grad.png) left bottom repeat-x;
	color: #FFF;
	border: 1px #007bae solid;
}

.oj, .oj:visited {
	background: #ff6000 url(/images/btn-grad.png) left bottom repeat-x;
	color: #FFF;
	border: 1px #de5400 solid;
}

.wh, .wh:visited {
	background: #FFF url(/images/btn-grad.png) left bottom repeat-x;
	color: #017ecc;
	border: 1px #BBB solid;
}

.smlink:hover, .medlink:hover, .biglink:hover {
	border-color: #999;
	background: #FFF url(/images/btn-grad.png) left top repeat-x;
	color: #333;
}

.smlink:active, .medlink:active, .biglink:active {
	background: #FFF;
}

.bl:hover {
	background: #0197d6 url(/images/btn-grad.png) left top repeat-x;
	color: #FFF;
	border: 1px #007bae solid;
}

.bl:active {
	background: #0197d6;
	color: #FFF;
	border: 1px #007bae solid;
}

.oj:hover {
	background: #ff6000 url(/images/btn-grad.png) left top repeat-x;
	color: #FFF;
	border: 1px #de5400 solid;
}

.oj:active {
	background: #ff6000;
	color: #FFF;
	border: 1px #de5400 solid;
}

.wh:hover {
	background: #FFF url(/images/btn-grad.png) left top repeat-x;
	color: #017ecc;
	border: 1px #BBB solid;
}

.wh:active {
	background: #FFF;
	color: #017ecc;
	border: 1px #BBB solid;
}

.alert-rd {
	border: 2px #999 solid;
	background: #CCC;
	color: #333;
}

:hover.alert-rd {
	background: #c50000;
	color: #FFF;
	border: 2px #910000 solid;
}

.bl-icon-add {
	background: #0197d6 url(../images/icon-add.gif) 8px 7px no-repeat;
	color: #FFF;
	border: 2px #007bae solid;
	padding: 5px 12px 4px 20px !important;
}

:hover.bl-icon-add {
	background: #666 url(../images/icon-add.gif) 8px 7px no-repeat;
	color: #FFF;
	text-decoration: underline;
	border-color: #333;
}

button {
	cursor: pointer;
}

a.btn, button.btn {
  float: left;
	display: block;
	border: none;
	padding: 0;
	background: none;
	color: #017ecc;
	font-size: 11px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: left;
}

a.btn span, button.btn span {
	display: block;
	background: url(/images/btn-sprite.gif) 100% 0 no-repeat;
	float: left;
	padding: 9px 17px 7px 0;
	line-height: 20px;
}

a.btn span.icon, button.btn span.icon {
	float: left;
	right: 0;
	padding: 0;
	display: block;
	width: 17px;
	height: 36px;
	background: url(/images/btn-sprite.gif) 0 0 no-repeat;
}

a:hover.btn, button:hover.btn {
	color: #FFF;
	text-decoration: none;
}

a:hover.btn span, button:hover.btn span {
	background-position: 100% -36px;
}

a:hover.btn span.icon, button:hover.btn span.icon {
	background-position: 0 -36px;
}

a:active.btn span, button:active.btn span {
	background-position: 100% -72px;
}

a:active.btn span.icon, button:active.btn span.icon {
	background-position: 0 -72px;
}

a.add, button.add span.icon {
	width: 28px;
	background-position: 0 -108px;
}

a:hover.add, button:hover.add span.icon {
	background-position: 0 -144px;
}

a:active.add, button:active.add span.icon {
	background-position: 0 -180px;
}

div.btn_cancel {
	float: left;
	position: relative;
	top: 12px;
	left: 5px;
}

/* 
Main Structure
-------------------------------------------------------------------------------------
*/
#wrapper {
	min-width: 985px;
	background: #242729;
	border-bottom: 1px #303437 solid;
	margin: 0 0 -1px 0;
}

#content-wrapper {
	margin: 30px auto;
	margin-bottom: 0;
	width: 100%;
}

#header {
	background: #0197d6;
	height: 60px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	margin: 0 50px 0 50px;
}

#header h1 {
	font-size: 16px;
	font-weight: bold;
	padding: 22px 0 0 20px;
	float: left;
}

#header h1 a {
	color: #FFF;
	text-decoration: underline;
}

#header h1 a:hover {
	text-decoration: none;
}

#logo a {
	display: block;
	text-indent: -9999px;
}

#logo a:hover {
	filter:alpha(opacity=70);
	opacity:0.7; 
	-moz-opacity:0.7;
}

#content {
	margin: 0 50px 0 50px;
	background: #DCDCDC;
	border-bottom: 1px #FFF solid;
	-moz-border-radius-topleft:      5px;
	-moz-border-radius-topright:     5px;
	-webkit-border-top-left-radius:  5px;
	-webkit-border-top-right-radius: 5px;
}

.note {
	-moz-border-radius:     5px;
	-webkit-border-radius:  5px;
  padding: 15px 15px 12px 15px;
  border: 1px solid;
	font-size: 14px;
	position: relative;
	top: 10px;
}

.note p a.note-close {
	float: right;
	position: absolute;
	bottom: -1px;
	right: -1px;
	display: block;
	padding: 1px 6px 0 7px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

.yellow_note {
	margin: 0 10px 10px 10px;
	background: #fff8cf;
	color: #9b7f3c;
	border-color: #e2d484;
}

.yellow_note p a.note-close {
	background: #9b7f3c;
	color: #fff8cf;
}

.yellow_note p a:hover.note-close {
	background: #665327;
	color: #fff8cf;
}

.red_note {
	margin: 0 10px 10px 10px;
	background: #ffcfcf;
	color: #9b3c3c;
	border-color: #e28484;
}

.red_note p a.note-close {
	background: #9b3c3c;
	color: #ffcfcf;
}

.red_note p a:hover.note-close {
	background: #662727;
	color: #ffcfcf;
}

#maincol {
  color: #000;
	float: left;
	width: 75%;
}

#sidecol {
	float: left;
	width: 25%;
}

.pod {
  margin: 10px;
	background: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px #BBB solid;
}

.pod .hd {
	background: #e4e4e4;
	padding: 10px 10px 8px 10px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-bottom: 1px #BBB solid;
	position: relative;
}

.pod .bd {
	color: #000;
	padding: 10px;
	font-size: 13px;
}

.pod .bd p {
	color: #555;
	font-size: 13px;
	line-height: 20px;
}

.darkpod {
  background: #f0f0f0;
  color: #666;
  border-color: #ddd;
  line-height: 18px;
	border: 1px solid #ccc;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.darkpod p {
  color: #666;
  margin-bottom: 15px;
  line-height: 18px;
}

.darkpod p.note {
  background: #fff8cf;
  color: #9b7f3c;
  padding: 10px;
  border: 1px solid #e2d484;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
	position: relative;
}

p.note a.note-close {
	float: right;
	position: absolute;
	bottom: -1px;
	right: -1px;
	display: block;
	background: #9b7f3c;
	color: #fff8cf;
	padding: 1px 6px 0 7px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

p.note a:hover.note-close {
	background: #665327;
	color: #fff8cf;
}

#sidecol .pod {
	margin-left: 0;
}

.pod .pod {
  margin: 10px 0 0 0;
  padding: 10px;
}

.group {
	margin: 0 0 10px 0;
}

.game-icon {
	display: inline-block;
}

.game-icon em {
	color: #017ecc;
	font-weight: bold;
	display: block;
	float: left;
	position: relative;
	top: 10px;
	margin: 0 0 0 5px;
	font-size: 12px;
}

.game-icon img {
	float: left;
}

/* 
Tabbed Headers in Pods ----------------------------------------------------------------------
*/

.tab-pod .hd {
	position: relative;
}

.tab-pod .hd ul.tabbed {
	float: right;
	margin: 0 10px 0 0;
	position: absolute;
	bottom: -3px;
	right: 0;
}

.tab-pod .hd ul.tabbed li {
	float: left;
	display: block;
	margin: 0 2px 0 2px;
}

.tab-pod .hd ul.tabbed li a {
	padding: 8px 15px 9px 15px;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
}

.tab-pod .hd ul.tabbed li.active a {
	padding: 8px 14px 9px 14px;
	background: #FFF;
	border: 1px #959595 solid;
	border-bottom: 0;
	color: #333;
}

.tab-pod .hd ul.tabbed li.active a:hover {
	color: #017ecc;
}

.tab-pod .hd ul.tabbed li a:hover {
	color: #017ecc;
	text-decoration: underline;
}

/* 
Navigation - Main
-------------------------------------------------------------------------------------
*/

#nav {
	padding: 0 0 0 200px;
}

#nav ul li {
	margin: 0 5px 0 5px;
	float: left;
	display: block;
}

#nav ul li a {
	font-size: 14px;
	display: block;
	padding: 23px 12px 23px 14px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	background: #0197d6;
}

#nav ul li a:hover {
	text-decoration: underline;
	background: #0071a0;
	color: #cee4ed;
}

ul#acct-nav {
	float: right;
	margin: 0 20px 0 0;
}

#nav ul li#btn_tmenu a {
	font-size: 14px;
	display: block;
	padding: 23px 30px 17px 14px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	background: #0197d6 url(/images/icon_mainnav_tmenu_arrow.gif) center right no-repeat;
}

#nav ul li#btn_tmenu a:hover {
	text-decoration: underline;
	background: #0071a0 url(/images/icon_mainnav_tmenu_arrow.gif) center right no-repeat;;
	color: #cee4ed;
}

#nav ul li#btn_tmenu a span#tmenu_txt {
	display: block;
	float: left;
}

#nav ul li#btn_tmenu a span#tmenu_unread {
	font-size: 12px;
	background: transparent url(/images/tmenu_count_bg.png) 0 0 no-repeat;
	color: #0197d6;
	font-weight: bold;
	display: block;
	padding: 4px 7px 4px 7px;
	float: left;
	position: relative;
	left: 6px;
	top: -3px;
}

#nav ul li#btn_tmenu a:hover span#tmenu_unread {
	text-decoration: none !important;
	background: transparent url(/images/tmenu_count_blk_bg.png) 0 0 no-repeat;
	color: #FFF;
}

#nav ul li#btn_tmenu:hover a span#tmenu_unread {
	text-decoration: none !important;
	background: transparent url(/images/tmenu_count_blk_bg.png) 0 0 no-repeat;
	color: #FFF;
}

#nav ul li#btn_tmenu {
	position: relative;
}

#nav ul li#btn_tmenu #tmenu {
	display: none;
}

#nav ul li#btn_tmenu:hover a {
	background: #FFF url(/images/icon_mainnav_tmenu_arrow_blk.gif) center right no-repeat;
	border: 0;
	color: #000;
	-moz-border-radius-bottomleft:      0px;
	-moz-border-radius-bottomright:     0px;
	-webkit-border-bottom-left-radius:  0px;
	-webkit-border-bottom-right-radius: 0px;
	text-decoration: none;
}

#nav ul li#btn_tmenu:hover #tmenu {
	display: block;
	position: absolute;
	top: 60px;
	left: -6px;
	z-index: 1000;
	padding: 0 6px 6px 6px;
	background: transparent url(/images/menu_shadow.png) 0 0 repeat;
	-moz-border-radius-bottomleft:      7px;
	-moz-border-radius-bottomright:     7px;
	-webkit-border-bottom-left-radius:  7px;
	-webkit-border-bottom-right-radius: 7px;
}

#nav ul li#btn_tmenu:hover #tmenu #tmenu_inner {
	width: 350px;
	background: #FFF;
	padding: 6px 2px 6px 2px;
	-moz-border-radius-bottomleft:      5px;
	-moz-border-radius-bottomright:     5px;
	-webkit-border-bottom-left-radius:  5px;
	-webkit-border-bottom-right-radius: 5px;
}

#nav ul li#btn_tmenu:hover #tmenu #tmenu_inner h3 {
	color: #666;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 0 7px 12px;
}

#nav ul li#btn_tmenu:hover #tmenu ul li {
	display: block;
	float: none !important;
}

#nav ul li#btn_tmenu:hover #tmenu ul li a {
	color: #0197d6;
	background: #FFF;
	padding: 9px 7px 8px 7px;
	display: block;
	font-weight: bold;
	border: 0;
	-moz-border-radius:     2px;
	-webkit-border-radius:  2px;
	font-size: 12px !important;
}

#nav ul li#btn_tmenu:hover #tmenu ul li a:hover {
	color: #FFF;
	background: #0197d6 url(/images/btn-grad.png) left bottom repeat-x;
	text-decoration: none;
}

#nav ul li#btn_tmenu:hover #tmenu ul li a em {
	display: block;
	color: #333;
	padding: 5px 0 0 5px;
	font-weight: normal;
}

#nav ul li#btn_tmenu:hover #tmenu ul li a:hover em {
	color: #FFF;
	
}

#nav ul li#btn_tmenu:hover #tmenu #tmenu_inner #matches_today ul li a {
	color: #00900a;
	font-weight: bold;
}

#nav ul li#btn_tmenu:hover #tmenu #tmenu_inner #matches_today ul li a em {
	color: #3fa046;
}

#nav ul li#btn_tmenu:hover #tmenu #tmenu_inner #matches_today ul li a:hover, 
#nav ul li#btn_tmenu:hover #tmenu #tmenu_inner #matches_today ul li a:hover em {
	color: #FFF;
	background: #00900a;
}


/* 
Navigation - Tournament - Sidecol
-------------------------------------------------------------------------------------
*/

.tnav a.icon-add {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	background: #0197d6 url(../images/icon-add.gif) 11px 12px no-repeat;
	color: #FFF;
	border: 1px #007bae solid;
	margin: 2px;
	padding-left: 25px;
}

.tnav a:hover.icon-add {
	background: #666 url(../images/icon-add.gif) 11px 12px no-repeat;
	color: #FFF;
	text-decoration: underline;
	border-color: #333;
}

.tnav .bd {
	padding: 0;
}

.tnav ul li {
	border-bottom: 1px #BBB solid;
}

.tnav ul li a {
	display: block;
	padding: 10px;
}

.tnav ul li.last {
	border: 0;
}

/* 
Navigation - User Navigation (Avatar, profile, etc)
-------------------------------------------------------------------------------------
*/

#user-nav {
	margin: 0 40px 8px 40px;
	padding: 20px 20px 0 20px;
	position: relative;
}

#user-nav h1 {
	font-size: 20px;
	font-weight: bold;
	padding: 0 0 40px 0;
}

#user-nav h5 {
	font-size: 12px;
	font-weight: bold;
	padding: 0 0 20px 0;
}

#user-dash {
	position: absolute;
	right: 0;
	top: 0px;
	float: right;
	width: 260px;
}

#user-dash #user-avatar {
	float: left;
	position: relative;
}

#user-dash #user-avatar a#avatar img {
	padding: 5px 5px 5px 17px;
	display: block;
}

#user-dash #user-avatar:hover a#avatar img {
	background: #FFF url(/images/icon_usernav_menu_arrow.gif) center left no-repeat;

}

#user-dash #user-avatar a#avatar {
	display: block;
	padding: 5px 5px 0 5px;
}

#user-dash #user-avatar a:hover#avatar {
	background: url(/images/menu_shadow.png) 0 0 repeat;
	
}

#user-dash #user-avatar #user_subnav {
	display: none;
}

#user-dash #user-avatar:hover #user_subnav {
	display: block;
	position: absolute;
	left: 0px;
	width: 240px;
	z-index: 1000;
	background: url(/images/menu_shadow.png) 0 0 repeat;
	padding: 0 5px 5px 5px;
	-moz-border-radius-bottomleft:      6px;
	-moz-border-radius-bottomright:     6px;
	-moz-border-radius-topright:        6px;
	-webkit-border-bottom-left-radius:  6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-top-right-radius:    6px;
}

#user-dash #user-avatar:hover #user_subnav ul {
	background: #FFF;
	padding: 5px;
	border-top: 0;
	-moz-border-radius-bottomleft:      4px;
	-moz-border-radius-bottomright:     4px;
	-moz-border-radius-topright:        4px;
	-webkit-border-bottom-left-radius:  4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius:    4px;
}

#user-dash #user-avatar:hover #user_subnav ul li {
	padding: 1px 0 1px 0;
}


#user-dash #user-avatar:hover #user_subnav ul li a {
	border: 0;
	font-size: 12px;
	padding: 7px 8px 5px 8px;
	border-left: 5px #0197d6 solid;
	display: block;
}

#user-dash #user-avatar:hover #user_subnav ul li a:hover {
	color: #FFF;
	background: #0197d6;
	-moz-border-radius:     2px;
	-webkit-border-radius:  2px;
}

#user-dash #user-avatar a img {
	width: 50px;
}

#user-dash #user-name {
	float: left;
	margin: 14px 0 0 8px;
}

#user-dash #user-name h2 {
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
}

#user-dash #user-name ul li {
	display: block;
	float: left;
	color: #999;
	padding: 5px 5px 5px 0;
}

#user-dash #user-name ul li a {
	color: #FFF;
	display: block;
	font-size: 12px;
}

#user-dash #user-name ul li a:hover {
	text-decoration: underline;
}

#user-dash #user-name ul li#user_account a {
	padding: 0 0 0 13px;
	background: transparent url(/images/icon_usernav_account.gif) 0 2px no-repeat;
}

#user-dash #user-name ul li#user_logout a {
	padding: 0 0 0 13px;
	background: transparent url(/images/icon_usernav_logout.gif) 0 2px no-repeat;
}

#user-dash a:hover span, #user-dash a:hover {
	color: #999;
	text-decoration: none;
}

/* 
Navigation - Sub Navigation
-------------------------------------------------------------------------------------
*/

ul#subnav {
	position: relative;
	top: 8px;
	left: 0;
	display: block;
	float: left;
}

ul#subnav li {
	float: left;
	display: block;
	margin: 0 5px 0 0;
}

ul#subnav li a {
	font-size: 12px;
	font-weight: bold;
	color: #BBB;
	background: #000;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	display: block;
	padding: 8px 16px 6px 16px;
	text-decoration: none;
}

ul#subnav li a:hover {
	color: #FFF;
	background: #0197d6;
	text-decoration: underline;
}

ul#subnav li.active a {
	color: #333;
	background: #DCDCDC;
	text-decoration: none;
}

ul#subnav li.active a:hover {
	color: #000;
	background: #DCDCDC;
	text-decoration: underline;
}

/* 
Navigation - Right Sub Navigation
-------------------------------------------------------------------------------------
*/

ul#right_subnav {
	position: relative;
	top: 8px;
	left: 0;
	display: block;
	float: right;
}

ul#right_subnav li {
	float: left;
	display: block;
	margin: 0 5px 0 0;
}

ul#right_subnav li a {
	font-size: 12px;
	font-weight: bold;
	color: #BBB;
	background: #000;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	display: block;
	padding: 8px 16px 6px 16px;
	text-decoration: none;
}

ul#right_subnav li a:hover {
	color: #FFF;
	background: #0197d6;
	text-decoration: underline;
}

ul#right_subnav li.active a {
	color: #333;
	background: #ececec;
	text-decoration: none;
}

ul#right_subnav li.active a:hover {
	color: #000;
	background: #ececec;
	text-decoration: underline;
}

/* 

-------------------------------------------------------------------------------------
*/

.step h4 {
	background: #017ecc;
	float: left;
	padding: 6px 10px 6px 10px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	position: relative;
	top: -11px;
	left: 7px;
}

.step h4 em {
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	padding: 6px 0;
	display: block;
	float: left;
}

span.swatch {
	padding: 0px 4px 0 4px;
	position: relative;
	top: -2px;
	font-size: 10px;
	margin: 0 3px 0 0;
}

/* 
Footer
-------------------------------------------------------------------------------------
*/

#footer {
	margin: 0 50px 0 50px;
	padding: 20px;
	background: #FFF url(/images/footer_bg.gif) bottom repeat-x;
	color: #666;
	border-top: 1px #BBB solid;
	-moz-border-radius-bottomleft:      5px;
	-moz-border-radius-bottomright:     5px;
	-webkit-border-bottom-left-radius:  5px;
	-webkit-border-bottom-right-radius: 5px;
}

#footer .footer_inner {
	margin: 0 0 0 400px;
}

#footer a {
	color: #555;
}

#footer #meta_copy {
	float: right;
}

#footer #meta_copy a#managed_by {
	padding: 15px 25px 15px 25px;
	background: #DDD;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	display: block;
	float: right;
	margin: 0;
	color: #DDD;
	border: 2px #d5d5d5 solid;
}

#footer #meta_copy a#managed_by:hover {
	background: #CCC;
	border-color: #BBB;
	color: #CCC;
}

#footer #meta_copy p {
	display: block;
	margin: 5px 0 0 2px;
	font-size: 11px;
	text-align: right;
}

#footer #meta_copy p a {
	text-decoration: underline;
}

#footer #meta_copy p a:hover {
	color: #017ecc;
	text-decoration: none;
}

#footer #gen_info, #footer #support_info {
	float: left;
	margin: 0 15px 0 15px;
}

#footer h2 {
	color: #333;
	font-weight: bold;
	font-size: 14px;
	margin: 0 0 4px 0;
}

#footer ul {
}

#footer ul li {
	margin: 4px 0 4px 0;
	font-size: 12px;
	border-top: 1px #DDD solid;
}

#footer ul li a {
	display: block;
	padding: 6px 6px 2px 6px;
}

#footer #feedback_support {
	float: left;
}

#footer #feedback_support a {
	width: 350px;
	height: 76px;
	display: block;
	background: #DDD;
	border: 2px #CCC solid;
	text-indent: -9999px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/* 
---------------------------------------------------------------------------------------------
------------------------------------------- THE END -----------------------------------------
---------------------------------------------------------------------------------------------
----------------------------- Copyright 2009-FOREVER Matt Johnson ---------------------------
---------------------------------------------------------------------------------------------
*/