/* 
GLOBAL Stylesheet ---------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
------- Feel Free to look around my CSS files.  I don't mind.  That's how I learned. --------
-------------------------- But do not steal my designs. Thanks ------------------------------
---------------------------------------------------------------------------------------------
*/

/* Globals
----------------------------------------------------------------------------- */

body {
	background: #252525;
	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 62.5%;
}

a, a:visited {
	color: #017ecc;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

a.smlink, a.smlink:visited {
	text-decoration: none;
	font-weight: normal;
	font-size: 1em;
	padding: 5px 8px 2px 8px;
	display: inline-block;
}

a.medlink, a.medlink:visited {
	text-decoration: none;
	font-weight: normal;
	font-size: 1.1em;
	padding: 5px 12px 4px 12px;
	display: inline-block;
}

a.biglink, a.biglink:visited {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.3em;
	padding: 5px 12px 4px 12px;
	display: inline-block;
	margin: 3px 0 3px 0;
}

a.bl {
	background: #0197d6;
	color: #FFF;
	border: 2px #007bae solid;
}

a.oj {
	background: #ff6000;
	color: #FFF;
	border: 2px #de5400 solid;
}

a.wh {
	background: #FFF;
	color: #333;
	border: 2px #CCC solid;
}

a.smlink:hover, a.medlink:hover, a.biglink:hover {
	border-color: #999;
	background: #CCC;
	color: #333;
}

a.bl-icon-add {
	background: #0197d6 url(../images/icon-add.gif) 8px 7px no-repeat;
	color: #FFF;
	border: 2px #007bae solid;
	padding: 5px 12px 4px 20px !important;
}

a:hover.bl-icon-add {
	background: #666 url(../images/icon-add.gif) 8px 7px no-repeat;
	color: #FFF;
	text-decoration: underline;
	border-color: #333;
}

.tnav a.icon-add {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	background: #0197d6 url(../images/icon-add.gif) 11px 12px no-repeat;
	color: #FFF;
	border: 2px #007bae solid;
	margin: 2px;
	padding-left: 25px;
}

.tnav a:hover.icon-add {
	background: #666 url(../images/icon-add.gif) 11px 12px no-repeat;
	color: #FFF;
	text-decoration: underline;
	border-color: #333;
}

/* Main Structure
----------------------------------------------------------------------------- */
#wrapper {}

#header {
	background: #0197d6;
	height: 60px;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	margin: 0 20px 0 20px;
}

#header h1 {
	font-size: 2em;
	font-weight: bold;
	padding: 19px 0 0 20px;
	float: left;
}

#logo {}

#logo a {
	display: block;
	text-indent: -9999px;
}

#logo a:hover {
	filter:alpha(opacity=70);
	opacity:0.7; 
	-moz-opacity:0.7;
}

#nav {
	padding: 0 0 0 250px;
}

#nav ul {}

#nav ul li {
	margin: 0 5px 0 5px;
	float: left;
	display: block;
}

#nav ul li a {
	font-size: 1.4em;
	display: block;
	padding: 23px 12px 28px 14px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	border: 1px #0197d6 solid;
	border-top: 0;
	background: #0197d6;
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
}

#nav ul li a:hover {
	text-decoration: underline;
	background: #0071a0;
	color: #cee4ed;
}

ul#acct-nav {
	float: right;
	margin: 0 20px 0 0;
}


#content-wrapper {
	margin: 30px auto;
	margin-bottom: 0;
	width: 100%;
}

#user-nav {
	margin: 0 20px 0 20px;
	padding: 20px 20px 0 20px;
}

#user-nav h1 {
	font-size: 2em;
	font-weight: bold;
	padding: 0 0 20px 0;
}

#user-dash {
	float: right;
	width: 175px;
	margin: 0 0 20px 0;
}

#user-dash #user-avatar {
	float: left;
}

#user-dash #user-avatar a img {
	display: block;
	width: 50px;
	border: 1px #888 solid;
	padding: 1px;
}

#user-dash #user-name {
	float: left;
	margin: 6px 0 0 10px;
}

#user-dash #user-name h2 {
	font-size: 2em;
	font-weight: bold;
	color: #FFF;
}

#user-dash #user-name ul {
}

#user-dash #user-name ul li {
	display: block;
	float: left;
	color: #999;
	padding: 5px 5px 5px 0;
}

#user-dash #user-name ul li a {
	color: #FFF;
	display: block;
	font-size: 1.2em;
}

#user-dash #user-name ul li a:hover {
	color: #999;
}

#user-dash a:hover span, #user-dash a:hover {
	color: #999;
	text-decoration: none;
}

#content {
	margin: 0 20px 0 20px;
	background: #ececec;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

ul#subnav {
	position: relative;
	top: 8px;
	left: 0;
	display: block;
}

ul#subnav li {
	float: left;
	display: block;
	margin: 0 5px 0 0;
}

ul#subnav li a {
	font-size: 1.2em;
	font-weight: bold;
	color: #BBB;
	background: #141616;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	display: block;
	padding: 8px 16px 6px 16px;
	text-decoration: none;
}

ul#subnav li a:hover {
	color: #FFF;
	background: #0197d6;
	text-decoration: underline;
}

ul#subnav li.active a {
	color: #333;
	background: #ececec;
	text-decoration: none;
}

ul#subnav li.active a:hover {
	color: #000;
	background: #ececec;
	text-decoration: underline;
}

button.btn {
	background: #0197d6;
	color: #FFF;
	padding: 6px 13px 6px 13px;
	display: inline-block;
	font-weight: bold;
	border: 0;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	top: -1px;
	left: 5px;
}

.rc {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

button:hover.btn {
	background: #999;
	text-decoration: underline;
}

#maincol {
	float: left;
	width: 75%;
}

#sidecol {
	float: left;
	width: 25%;
}

.pod {
	margin: 10px;
	background: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px #BBB solid;
}

.pod .hd {
	background: #e3e3e3;
	padding: 10px 10px 8px 10px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom: 1px #BBB solid;
}

.pod .hd h2 {
	font-size: 1.5em;
	color: #333;
	font-weight: bold;
}

.pod .bd {
	color: #000;
	padding: 10px;
	font-size: 1.3em;
}

#sidecol .pod {
	margin-left: 0;
}

table#overview {
	width: 100%;
}

table#overview tr td {
	border-bottom: 1px #DDD solid;
	padding: 6px 6px 6px 0;
}

table#overview tr td.item-icon {
	width: 150px;
}

table#overview tr td.item-icon span {
	color: #FFF;
	font-weight: bold;
	text-align: right;
	padding: 6px 6px 6px 0;
	display: block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-border-radius: 2px;
}

table#overview tr.announcement td.item-icon span {
	background: #fd5f00;
}

table#overview tr.message td.item-icon span {
	background: #368700;
}

table#overview tr.comment td.item-icon span {
	background: #5e9f33;
}

table#overview tr.brackets td.item-icon span {
	background: #006a8d;
}

table#overview tr.schedule td.item-icon span {
	background: #009ed9;
}

table#overview tr.dispute td.item-icon span {
	background: #bc0000;
}

table#overview tr.dispute td.item-title a {
	color: #bc0000;
}

table#overview tr.dispute td.item-title a:hover {
	color: #333;
	text-decoration: underline;
}

table#overview tr td.item-title {
	width: 420px;
}

table#overview tr td.item-title a {
	display: block;
}

table#overview tr td.item-action {
	width: 100px;
	text-align: right;
	color: #999;
}

table#overview tr td.item-posted {
	padding-right: 0;
	text-align: left;
	color: #333;
}

table#overview tr td.item-date {
	text-align: left;
	color: #333;
}

table#overview tr.last td {
	border: 0;
}

.tnav .bd {
	padding: 0;
}

.tnav ul li {
	border-bottom: 1px #BBB solid;
}

.tnav ul li a {
	display: block;
	padding: 10px;
}

.tnav ul li.last {
	border: 0;
}

#footer {
	margin: 5px 0 0 25px;
	color: #999;
}

#footer a {
	color: #FFF;
}

/* 
---------------------------------------------------------------------------------------------
------------------------------------------- THE END -----------------------------------------
---------------------------------------------------------------------------------------------
----------------------------- Copyright 2009-FOREVER Matt Johnson ---------------------------
---------------------------------------------------------------------------------------------
*/