/* 
GLOBAL Stylesheet ---------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
------- Feel Free to look around my CSS files.  I don't mind.  That's how I learned. --------
-------------------------- But do not steal my designs. Thanks ------------------------------
---------------------------------------------------------------------------------------------
*/

/* 
Global
-------------------------------------------------------------------------------------
*/

body {
	background: #252525;
	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 62.5%;
}

.gray {
  color: #999;
}

strong{
  font-weight: bold;
}

a, a:visited {
	color: #017ecc;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

.rc {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* 
Headings
-------------------------------------------------------------------------------------
*/

.pod h3 {
  font-size: 16px;
  font-weight: bold;
	margin: 20px 0 10px 0;
}

.pod h3.first {
	margin: 0 0 10px 0;
}

.pod .hd h2 {
	font-size: 15px;
	color: #333;
	font-weight: bold;
}

/* 
Global Buttons
------------------------------------------------------------------------------
*/

.smlink, .smlink:visited {
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
	padding: 5px 8px 2px 8px;
	display: inline-block;
}

.medlink, .medlink:visited {
	text-decoration: none;
	font-weight: normal;
	font-size: 13px;
	padding: 5px 12px 4px 12px;
	display: inline-block;
}

.biglink, .biglink:visited {
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	padding: 8px 10px 7px 10px;
	display: inline-block;
	margin: 3px 0 3px 0;
	position: relative;
	top: -2px;
}

.bl {
	background: #0197d6 url(/images/btn-grad.png) left bottom repeat-x;
	color: #FFF;
	border: 1px #007bae solid;
}

.oj {
	background: #ff6000 url(/images/btn-grad.png) left bottom repeat-x;
	color: #FFF;
	border: 1px #de5400 solid;
}

.wh {
	background: #FFF url(/images/btn-grad.png) left bottom repeat-x;
	color: #017ecc;
	border: 1px #BBB solid;
}

.smlink:hover, .medlink:hover, .biglink:hover {
	border-color: #999;
	background: #FFF;
	color: #333;
}

.smlink:active, .medlink:active, .biglink:active {
	background: #FFF url(/images/btn-grad.png) left top repeat-x;
}

.alert-rd {
	border: 2px #999 solid;
	background: #CCC;
	color: #333;
}

:hover.alert-rd {
	background: #c50000;
	color: #FFF;
	border: 2px #910000 solid;
}

.bl-icon-add {
	background: #0197d6 url(../images/icon-add.gif) 8px 7px no-repeat;
	color: #FFF;
	border: 2px #007bae solid;
	padding: 5px 12px 4px 20px !important;
}

:hover.bl-icon-add {
	background: #666 url(../images/icon-add.gif) 8px 7px no-repeat;
	color: #FFF;
	text-decoration: underline;
	border-color: #333;
}

button {
	cursor: pointer;
	font-size: 13px;
}

button.btn {
	background: #0197d6;
	color: #FFF;
	padding: 6px 13px 6px 13px;
	display: inline-block;
	font-weight: bold;
	border: 0;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	top: -1px;
	left: 5px;
}

button:hover.btn {
	background: #999;
	text-decoration: underline;
}

/* 
Main Structure
-------------------------------------------------------------------------------------
*/

#content-wrapper {
	margin: 30px auto;
	margin-bottom: 0;
	width: 100%;
}

#header {
	background: #0197d6;
	height: 60px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	margin: 0 20px 0 20px;
}

#header h1 {
	font-size: 20px;
	font-weight: bold;
	padding: 19px 0 0 20px;
	float: left;
}

#logo a {
	display: block;
	text-indent: -9999px;
}

#logo a:hover {
	filter:alpha(opacity=70);
	opacity:0.7; 
	-moz-opacity:0.7;
}

#content {
	margin: 0 20px 0 20px;
	background: #ececec;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#maincol {
  color: #000;
	float: left;
	width: 75%;
}

#sidecol {
	float: left;
	width: 25%;
}

.pod {
  margin: 10px;
	background: #FFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px #BBB solid;
}

.pod .hd {
	background: #e3e3e3;
	padding: 10px 10px 8px 10px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-bottom: 1px #BBB solid;
}

.pod .bd {
	color: #000;
	padding: 10px;
	font-size: 13px;
}

.darkpod {
  background: #f0f0f0;
  color: #666;
  border-color: #ddd;
  line-height: 18px;
	border: 1px solid #ccc;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.darkpod p {
  color: #666;
  margin-bottom: 15px;
  line-height: 18px;
}

.darkpod p.note {
  background: #fff8cf;
  color: #9b7f3c;
  padding: 10px;
  border: 1px solid #e2d484;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#sidecol .pod {
	margin-left: 0;
}

.pod .pod {
  margin: 10px 0 0 0;
  padding: 10px;
}

/* 
Navigation - Main
-------------------------------------------------------------------------------------
*/

#nav {
	padding: 0 0 0 250px;
}

#nav ul li {
	margin: 0 5px 0 5px;
	float: left;
	display: block;
}

#nav ul li a {
	font-size: 14px;
	display: block;
	padding: 23px 12px 28px 14px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	border: 1px #0197d6 solid;
	border-top: 0;
	background: #0197d6;
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
}

#nav ul li a:hover {
	text-decoration: underline;
	background: #0071a0;
	color: #cee4ed;
}

ul#acct-nav {
	float: right;
	margin: 0 20px 0 0;
}

/* 
Navigation - Tournament - Sidecol
-------------------------------------------------------------------------------------
*/

.tnav a.icon-add {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	background: #0197d6 url(../images/icon-add.gif) 11px 12px no-repeat;
	color: #FFF;
	border: 2px #007bae solid;
	margin: 2px;
	padding-left: 25px;
}

.tnav a:hover.icon-add {
	background: #666 url(../images/icon-add.gif) 11px 12px no-repeat;
	color: #FFF;
	text-decoration: underline;
	border-color: #333;
}

.tnav .bd {
	padding: 0;
}

.tnav ul li {
	border-bottom: 1px #BBB solid;
}

.tnav ul li a {
	display: block;
	padding: 10px;
}

.tnav ul li.last {
	border: 0;
}

/* 
Navigation - User Navigation (Avatar, profile, etc)
-------------------------------------------------------------------------------------
*/

#user-nav {
	margin: 0 20px 0 20px;
	padding: 20px 20px 0 20px;
}

#user-nav h1 {
	font-size: 20px;
	font-weight: bold;
	padding: 0 0 20px 0;
}

#user-dash {
	float: right;
	width: 175px;
	margin: 0 0 20px 0;
}

#user-dash #user-avatar {
	float: left;
}

#user-dash #user-avatar a img {
	display: block;
	width: 50px;
	border: 1px #888 solid;
	padding: 1px;
}

#user-dash #user-name {
	float: left;
	margin: 6px 0 0 10px;
}

#user-dash #user-name h2 {
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
}

#user-dash #user-name ul li {
	display: block;
	float: left;
	color: #999;
	padding: 5px 5px 5px 0;
}

#user-dash #user-name ul li a {
	color: #FFF;
	display: block;
	font-size: 12px;
}

#user-dash #user-name ul li a:hover {
	color: #999;
}

#user-dash a:hover span, #user-dash a:hover {
	color: #999;
	text-decoration: none;
}

/* 
Navigation - Sub Navigation
-------------------------------------------------------------------------------------
*/

ul#subnav {
	position: relative;
	top: 8px;
	left: 0;
	display: block;
}

ul#subnav li {
	float: left;
	display: block;
	margin: 0 5px 0 0;
}

ul#subnav li a {
	font-size: 12px;
	font-weight: bold;
	color: #BBB;
	background: #141616;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	display: block;
	padding: 8px 16px 6px 16px;
	text-decoration: none;
}

ul#subnav li a:hover {
	color: #FFF;
	background: #0197d6;
	text-decoration: underline;
}

ul#subnav li.active a {
	color: #333;
	background: #ececec;
	text-decoration: none;
}

ul#subnav li.active a:hover {
	color: #000;
	background: #ececec;
	text-decoration: underline;
}

/* 
Footer
-------------------------------------------------------------------------------------
*/

#footer {
	margin: 5px 0 0 25px;
	color: #999;
}

#footer a {
	color: #FFF;
}

/* 
---------------------------------------------------------------------------------------------
------------------------------------------- THE END -----------------------------------------
---------------------------------------------------------------------------------------------
----------------------------- Copyright 2009-FOREVER Matt Johnson ---------------------------
---------------------------------------------------------------------------------------------
*/