body#login #logo {
	width: 300px;
	margin: 0 auto;
	margin-top: 15%;
}

body#login #login_wrapper {
	width: 500px;
	background: #FFF;
	color: #000;
	margin: 0 auto;
	padding: 15px;
	-moz-border-radius: 8px;
}

body#login ul {
	padding: 10px 10px 0 10px;
	background: #dbeaf1;
	-moz-border-radius: 5px;
}

body#login ul.section {
	margin: 0 0 15px 0;
}

body#login ul li.header {
	border-bottom: 0;
}

body#login ul li.header h1 {
	color: #008ad1;
	font-size: 25px;
	font-weight: bold;
	margin: 13px 0 10px 0;
}

body#login ul li.header img {
	float: left;
	margin: 0 5px 0 0;
}

body#login ul li {
	padding: 8px 8px 0 8px;
	border-bottom: 1px #b4c0c5 solid;
}

body#login ul li.last {
	border: 0;
}

body#login ul li label {
	color: #2a566d;
	display: block;
	margin: 12px 10px 0 0;
	font-weight: bold;
	float: left;
	width: 75px;
	text-align: right;
}

body#login ul li label.drop_label {
	margin: 3px 10px 0 0;
}

body#login ul li input {
	width: 363px;
	font-size: 16px;
	padding: 7px;
	height: 20px;
	-moz-border-radius: 4px;
	background: #FFF url(/images/signup_input_bg.gif) 0 0 repeat-x;
	border: 1px #8ba6b1 solid;
}

body#login ul li input:focus {
	border-color: #39acdb;
}

body#login label.remember_label {
	margin: 0 0 0 5px;
	top: 1px;
}

body#login input#rememberme {
	margin: 0 0 0 5px;
}

body#login li.error_wrapper ul {
	background: transparent;
	padding: 0;
	margin: 0;
}

body#login li.error_wrapper ul li {
	border: 0;
	padding: 0;
}

body#login #forgot_pass {
	float: right;
	position: relative;
	top: 7px;
	font-size: 12px;
}

body#login #forgot_pass a {
	background: transparent url(/images/icon_question16.png) 100% 1px no-repeat;
	display: block;
	padding: 5px 20px 5px 0;
}

body#login #forgot_pass a:hover {
	color: #017ecc;
	text-decoration: underline;
}