body#match #maincol .pod {
}

#match_wrapper {
	margin: 0 auto;
}

#home_player {
	float: left;
	width: 25%;
}

#away_player {
	float: left;
	width: 25%;
	text-align: right;
}

#home_player, #away_player {
	padding: 10px;
}

#home_player strong, #away_player strong {
	display: block;
	margin: 5px 0 0 0;
}

#match_details {
	float: left;
	width: 44%;
	text-align: center;
}

#match_details a.btn {
	position: relative;
	top: 0;
	left: 110px;
}

#match_details h2 {
	color: #777;
	font-size: 16px;
	font-weight: bold;
	line-height: 0;
	padding: 15px 0 0 0;
}

#match_details h3 {
	font-size: 15px;
	font-weight: bold;
	line-height: 0;
	padding: 0 0 5px 0;
}

#match_details h4 {
	font-size: 12px;
	font-weight: normal;
	line-height: 0;
	padding: 5px 0 15px 0;
}

#match_submit_results textarea {
	margin: 10px 0 10px 0;
	width: 300px;
	height: 100px;
}