body#index_messages #maincol, body#show_messages #maincol {
	width: 100.5%;
}

#messages {
  color: #9f9f9f;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
	width: 100%;
}

#messages .announcment {
  padding: 3px 6px;
  color: #fff;
  font-size: 12px;
}

#messages tr td {
	border-bottom: 1px solid #ddd;
  padding: 0 0 5px 0;
  white-space: nowrap;
}

#messages tr.last td {
	border: 0;
	padding: 5px 0 0 0;
}

#messages tr td a {
  font-weight: bold !important;
}

#messages .message_status p {
	position: relative;
	top: 5px; 
}

#messages .message_status p img {
	position: relative;
	top: 4px;
}

#messages .message_status a { 
	color: #000;
}

#messages .message_subject {
  color: #000;
  font-size: 14px; 
  margin-bottom: 5px;
}

#messages .message_main { 
	width: 60%;
}

#messages .message_comments p {
  position: relative;
  top: 8px;
}

#messages .message_latest {
  text-align: right;
}

#message_header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

#message_header img,
.comment_header img {
  display: block;
  float: left;
  margin-right: 10px;
}

#message_header h2 {
  font-size: 18px;
  font-weight: bold;
	padding: 0 0 0 0;
}

#message_category {
  float: right;
  position: relative;
  top: 8px;
  left: -10px;
	color: #FFF;
	font-weight: bold;
	text-align: right;
	padding: 5px 10px 4px 10px;
	display: block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	font-size: 11px;
	background: #999;
}

#message_body {
  padding: 15px 10px 0 10px;
  line-height: 18px;
  border-bottom: 1px solid #ddd;
}

#message_body p {
  margin: 0 0 15px 0;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

li.comment {
  border-bottom: 1px solid #ddd;
}

.comment_header {
  padding: 15px 0 0 0;
}

.comment_header h3 {
	font-size: 15px;
	font-weight: bold;
  color: #333;
  margin: 0;
}

.comment_header h3 span {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

.comment_header p {
	margin: 0;
}

.comment_body p {
  margin: 0 5px 15px 55px;
  position: relative;
  top: -10px;
}

#comment_mod .comment_form h4 {
	font-weight: bold;
	color: #333;
	margin: 0 0 5px 0;
}

.comment_form img {
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.cat_announcement {
	background: #fd5f00 !important;
}

.message_subject .cat_announcement {
	float: left;
	position: relative;
	top: -2px;
	color: #FFF !important;
	font-weight: bold;
	text-align: right;
	padding: 0 7px 0 7px;
	margin: 0 5px 0 0;
	display: block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #fd5f00 !important;
}

ul.files_attach li {
	display: block;
	float: left;
	margin: 0 5px 0 5px;
}