.mask, .spinner {
  background-color: rgba(18, 22, 24, 0.7);
	position: absolute;
	z-index: 999;
}

.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: #000 url(../images/spinner.gif) center center no-repeat;
	opacity: 0.65;
	-moz-opacity: 0.65;
  filter:alpha(opacity=65);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	width: 24px;
	height: 24px;
	padding: 10px;
	margin: 0 auto;
}

.overlay {
	background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal {
  overflow: hidden;
  z-index: 1000;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
  padding: 5px;
  background-color: rgba(0,0,0, 0.3);
  position: absolute;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
}

.modal, .modal a {
  color: #8d9aa0;
	font-size: 12px;
}

.modal a {
  text-decoration: underline;
}

.modal input.text {
  width: 225px;
}

.modal-inner {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dcf1f9), to(#ffffff));
  padding: 15px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  text-align: center;	
}

.modal h2 {
  font-size: 18px;
  font-weight: bold;
  color: #232d30;
  margin-bottom: 10px;
}

.modal .buttons {
  padding: 15px 0 5px 0;
}

.modal .close-modal {
  float: left;
  position: absolute;
}

.modal button,
.modal .button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#88a9b7), to(#a3bfc9));
  height: 24px;
  line-height: 24px;
  border-width: 0;
  padding: 0 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #89aab7;
  -webkit-box-shadow: 0px 0px 1px #fff;
  -moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

/*----------------------------------------------------------------------
 PARTICIPANTS MODAL STYLES
----------------------------------------------------------------------*/

.modal input#participation_name {
  text-align: center;
  font-weight: bold;
  color: #c0c0c0;
}


/* .modal {
	display: none;
  z-index: 3;
  position: absolute;
  top: 340px !important;
  left: 50%;
	background: #FFF;
	color: #333;
	font-size: 12px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-box-shadow: rgba(0, 0, 0, 0.30) 0 0 40px;
	-webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.30);
} */

.modal .modal_hd {
	padding: 13px 0 10px 15px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.modal .modal_hd h1 {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}

.modal .modal_hd a.modal_close {
	float: right;
	display: block;
	padding: 3px 15px 10px 10px;
}

.modal .modal_hd a:hover.modal_close {
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=80);
}

.modal .modal_inner {
	padding: 15px;
}

.modal .modal_inner p {
	font-size: 15px;
	color: #666;
	margin: 0 0 10px 0;
}

#create_team {
	width: 400px;
}

#create_team div#team_name {
	margin: 0 0 0 10px;
}

#create_team ul#player_list {
	margin: -5px 0 10px 0;
}

#create_team ul#player_list li {
	float: left;
	display: block;
	margin: 5px;
}

#manage_player ul {
  width: 280px;
}

#manage_player ul li {
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

#manage_player ul li.last {
  margin: 0;
}

a.modal_btn, button.modal_btn {
  display: block;
  float: left;
  background: #0177c1;
  color: #FFF;
  font-weight: bold;
  font-size: 13px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 3px 0 0;
  border: 0;
  white-space: nowrap;
  line-height: 10px;
  padding: 10px 15px 10px 15px;
}

button.modal_btn {
  padding: 7px 15px 7px 15px;
  line-height: 7px;
}


a:hover.modal_btn, button:hover.modal_btn {
  color: #FFF;
  background: #549b00;
  text-decoration: none;
}

a.btn_cancel, button.btn_cancel {
  background: #DDD;
  color: #888;
  padding: 10px 15px 10px 15px !important;
  line-height: 10px !important;
  font-size: 13px !important;
  border: 0 !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

a:hover.btn_cancel, button:hover.btn_cancel {
  color: #333;
  background: #DDD;
}

#delete_tournament {
}

#delete_tournament .modal_hd {
  background: #6c0000 !important;
}
