.overlay {
	background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal {
	display: none;
  z-index: 3;
  position: absolute;
  top: 340px !important;
  left: 50%;
	background: #FFF;
	color: #333;
	font-size: 12px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-box-shadow: rgba(0, 0, 0, 0.30) 0 0 40px;
	-webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.30);
}

.modal .modal_hd {
	padding: 13px 0 10px 15px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.modal .modal_hd h1 {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}

.modal .modal_hd a.modal_close {
	float: right;
	display: block;
	padding: 3px 15px 10px 10px;
}

.modal .modal_hd a:hover.modal_close {
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=80);
}

.modal .modal_inner {
	padding: 15px;
}

.modal .modal_inner p {
	font-size: 15px;
	color: #666;
	margin: 0 0 10px 0;
}

#create_team {
	width: 400px;
}

#create_team div#team_name {
	margin: 0 0 0 10px;
}

#create_team ul#player_list {
	margin: -5px 0 10px 0;
}

#create_team ul#player_list li {
	float: left;
	display: block;
	margin: 5px;
}

#manage_player ul {
  width: 280px;
}

#manage_player ul li {
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

#manage_player ul li.last {
  margin: 0;
}

a.modal_btn, button.modal_btn {
  display: block;
  float: left;
  background: #0177c1;
  color: #FFF;
  font-weight: bold;
  font-size: 13px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 3px 0 0;
  border: 0;
  white-space: nowrap;
  line-height: 10px;
  padding: 10px 15px 10px 15px;
}

button.modal_btn {
  padding: 7px 15px 7px 15px;
  line-height: 7px;
}


a:hover.modal_btn, button:hover.modal_btn {
  color: #FFF;
  background: #549b00;
  text-decoration: none;
}

a.btn_cancel, button.btn_cancel {
  background: #DDD;
  color: #888;
  padding: 10px 15px 10px 15px !important;
  line-height: 10px !important;
  font-size: 13px !important;
  border: 0 !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

a:hover.btn_cancel, button:hover.btn_cancel {
  color: #333;
  background: #DDD;
}
