.overlay {
  background: #0a0c0d;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter:alpha(opacity=40);
}

.modal {
	display: none;
  z-index: 3;
  position: absolute;
  top: 30%;
  left: 50%;
	background: #FFF;
	border: 1px #555 solid;
	color: #333;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.modal .modal_inner {
	border: 4px #DDD solid;
	padding: 15px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}