span.step-icon {
	-moz-border-radius: 50px;
	padding: 8px 11px 6px 11px;
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	color: #FFF;
	float: left;
	display: block;
	background: #004774;
}

#process_steps {
	padding: 10px 0 0 20px;
}

#process_steps ul li {
	margin: 0 10px 0 10px;
	display: block;
	float: left;
}

#process_steps ul li.active span span.step-icon {
	background: #333;
	color: #FFF;
}

#process_steps ul li.active span em {
	color: #333;
}

#process_steps ul li span span.step-icon {
	background: #BBB;
	color: #FFF;
	font-size: 13px;
	padding: 4px 8px 4px 8px;
}

#process_steps ul li span em {
	color: #999;
	display: block;
	padding: 6px 0 0 7px;
	font-size: 14px;
	float: left;
}

#new_tournament .step h4 {
	background: #017ecc;
	float: left;
	padding: 6px 10px 6px 10px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	position: relative;
	top: -11px;
	left: 7px;
}

#new_tournament .step h4 em {
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	padding: 6px 0 0 7px;
	display: block;
	float: left;
}

#new_tournament dl {
	float: left;
	margin: 6px 0 0 6px;
}

#new_tournament #tournament_game dl dd, #new_tournament #tournament_game dl dt {
	float: left;
	display: block;
}

#new_tournament #tournament_game dl dd input {
	font-size: 17px;
	padding: 6px;
	margin: 0 5px 0 0;
}

#new_tournament #tournament_game p.note {
	width: 410px;
	position: relative;
	top: -40px;
	margin: 0 0 -40px 0;
	left: 21px;
	float: left;
}

#new_tournament #tournament_rules p.note {
	width: 200px;
	float: left;
	position: relative;
	top: 7px;
	left: 21px;
}

.calendar_date_select {
	display: block;
	float: left;
	background: #FFF;
	padding: 10px;
	border: 1px #BBB solid;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	margin: 15px 15px 0 7px;
}

.calendar_date_select .header {
	text-align: center;
}

.calendar_date_select .header .pager a {
	padding: 3px 6px 2px 8px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}

.calendar_date_select .body {
	margin: 10px 0 0 0;
}

.calendar_date_select .body table tbody tr.weekdays th {
	padding: 4px 8px 4px 8px;
	font-weight: bold;
	background: #dfecf9;
	text-align: center;
}

.calendar_date_select .body table tbody tr.days td {
	padding: 2px;
	text-align: center;
}

.calendar_date_select .body table tbody tr.days td a {
	background: #EEE;
	display: block;
	padding: 4px 8px 4px 8px;
}

.calendar_date_select .body table tbody tr.days td a:hover {
	background: #DDD;
}

.calendar_date_select .body table tbody tr.days td.today a {
	color: #FFF;
	background: #FF6000;
}

.calendar_date_select .body table tbody tr.days td.selected a {
	color: #FFF;
	background: #0197d6;
}

.calendar_date_select .body table tbody tr.days td.other a {
	color: #999;
	background: transparent;
}

div.tournament_dates {
	float: left;
}

div.tournament_dates table {
  width: 400px;
  margin: 10px 0 10px 0;
  border-collapse: collapse;
}

div.tournament_dates table tr td select {
	margin: 0 0 5px 0;
}

div.tournament_dates table tr td {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

div.tournament_dates table tr th {
  border-bottom: 1px solid #ccc;
  padding: 5px;
	font-weight: bold;
}

div.tournament_dates table tr td.date {
	width: 250px;
}

div.tournament_dates table tr td.edit {
  text-align: right;
}

div#tournament_prize ul li label, div#tournament_players ul li label {
	margin: 0 0 0 10px;
}

div#tournament_players ul li {
	margin: 0 0 5px 0;
}

div#tournament_players ul li.dropdown {
	margin: 0 0 15px 0;
}

div#tournament_players ul li label.checkbox {
	position: relative;
	top: -3px;
	margin: 0 0 0 5px;
}

div.save_wrapper {
	padding: 10px 0 0 0;
}

div.save_wrapper ul li {
	margin: 0 0 5px 0;
}
