.pod h3 {
  margin-top: 5px;
}

label {
  display: block;
  font-size: 15px;
  margin-bottom: 3px;
	color: #666;
}

textarea,
input[type='text'] {
  width: 98%;
}

#message_subscribe ul li {
	display: block;
	float: left;
	margin: 0 5px 0 0;
}
