div#your_logo dl dt {
	float: left;
}

div#your_logo dl dd {
	display: block;
	position: relative;
	left: 15px;
	top: 30px;
	margin: 5px 0 5px 0;
}

div#settings ul li {
	margin: 0 0 8px 0;
}

#message_categories table {
  width: 300px;
  margin-bottom: 10px;
  border-collapse: collapse;
}

#message_categories table td {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

#message_categories table td.remove {
  text-align: right;
}