

div#your_logo div.block {
	display: block;
	float: left;
	margin: 5px 0 0 15px;
}

div#your_logo div.block div {
  float: left;
}

div#your_logo button {
  float: left;
  position: relative;
  top: -8px;
  left: 15px;
}

div#settings ul li {
	margin: 0 0 0 0;
}

#message_categories table {
  width: 300px;
  margin-bottom: 10px;
  border-collapse: collapse;
}

#message_categories table td {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

#message_categories table td.remove {
  text-align: right;
}

#message_categories div.add_cat {
	position: relative;
	top: -2px;
	left: 5px;
}

body#settings #account_url h2 {
	font-weight: bold;
	font-size: 14px;
}

body#settings #account_url ul li#account_url_input {
  margin: 2px 0 0 0;
}

body#settings #your_site_name {
  float: right;
  margin: 0 40px 3px 0;
}

body#settings h3 span {
  font-weight: normal;
  font-size: 14px;
  color: #555;
}

div#settings button.save_changes {
  margin: 10px 0 0 0;
}