body#signup {
  background: #1a1c1d;
  color: #818e96;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

body#signup a, a:visited {
  color: #f0ff00;
  text-decoration: none;
}

body#signup a:hover {
  text-decoration: underline;
}

body#signup #header {
  background: transparent url(../images/tbc_hdr_bg.png) top center no-repeat;
  height: 509px;
}

body.secondary #header {
  height: 165px !important;
  border-bottom: 1px #000 solid;
}

body#signup #header_wrapper {
  width: 1100px;
  margin: 0 auto;
}

body#signup #header h1 {
  position: relative;
  top: 50px;
  left: 100px;
  width: 342px;
  height: 63px;
  background: transparent url(../images/tbc_logo.png) 0 0 no-repeat;
  display: block;
  text-indent: -9999px;
}

/* BattleCenter Signup */

body#signup #content {
  border-top: 1px #383c40 solid;
}

body#signup #content_wrapper {
  width: 900px;
  margin: 20px auto;
}

body#signup #signup_wrap {
  background: #111314;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
	width: 700px;
	float: left;
}

body#signup #signup_wrap .hd {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-radius-top-left: 10px;
  -webkit-border-radius-top-right: 10px;
  padding: 20px 20px 10px 20px;
}

body#signup #signup_wrap .hd h1 {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  color: #FFF;
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
}

body#signup #signup_wrap .bd {
  margin: 20px;
}

body#signup #signup_wrap fieldset {
  margin: 10px 20px 20px 20px;
  padding: 20px;
  background: #232628;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

body#signup #signup_wrap fieldset p {
  margin: 5px 0 5px 0;
}

body#signup #signup_wrap fieldset label {
  width: 175px;
  text-align: right;
  display: block;
  float: left;
  font-size: 18px;
  font-weight: normal;
  color: #FFF;
  letter-spacing: -0.5px;
  margin: 10px 5px 0 0;
  position: relative;
  top: 4px;
}

body#signup #signup_wrap fieldset label.error {
  color: #ff0600;
}

body#signup #signup_wrap fieldset input {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 0;
  background: #FFF;
  padding: 12px;
  font-size: 14px;
  width: 300px;
  margin: 0 5px 0 5px;
}

body#signup #signup_wrap fieldset p#dropdown {
  height: 40px;
}

body#signup #signup_wrap fieldset p#dropdown select {
  margin: 9px 0 0 5px;
  padding: 3px;
}

body#signup #signup_wrap fieldset h1 {
  padding: 7px;
  font-size: 18px;
  letter-spacing: -0.5px;
  border-bottom: 1px solid #373c3e;
  margin: 0 0 20px 0;
}

body#signup #signup_wrap fieldset h1 span {
  color: #656f76;
  font-size: 14px;
}

body#signup #signup_wrap fieldset.last {
  margin: 0;
}

body#signup #signup_wrap fieldset p em {
  display: block;
  width: 300px;
  margin: 0 0 0 175px;
  padding: 10px;
  font-size: 12px;
}

fieldset#billing p span#card_num, fieldset#billing p span#ccv {
  float: left;
  display: block;
}

fieldset#billing p span#card_num input {
  width: 175px;
}

fieldset#billing p span#ccv input {
  width: 60px;
}

fieldset#billing p span#ccv label {
  width: 50px;
}

fieldset#billing p span#ccv_tip {
  padding: 15px 0 0 5px;
  float: left;
}

fieldset#confirm em {
  font-size: 18px;
  color: #98a4ac;
  display: block;
  padding: 10px;
  background: #1a1c1d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 0 15px 0;
}

fieldset#confirm em strong {
  font-weight: bold;
  color: #FFF;
}

fieldset#confirm p {
  color: #b7c6cf;
  font-size: 16px;
  line-height: 26px;
}

fieldset#confirm p strong {
  color: #FFF;
  font-weight: bold;
}

body#signup #signup_wrap #signup_finish {
  padding: 0 25px 20px 25px;
}

body#signup #signup_wrap #signup_finish button, body#signup #signup_wrap #signup_finish input.reset_button {
  background: #64ae00;
  border: 0;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #FFF;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  text-shadow: -1px -1px 0 #247a00;
  float: left;
}

body#signup #signup_wrap #signup_finish button:hover, body#signup #signup_wrap #signup_finish input:hover.reset_button {
  background: #4e8700;
  cursor: pointer;
}

body#signup #signup_wrap #signup_finish p#agree_terms {
  float: left;
  margin: 14px 0 0 15px;
}

/* Tips & Additional Info about Sign Up */

body#signup #signup_sidebar {
  float: left;
  margin: 20px;
}

/* Thank You Page after signing up */

div#thanks h2 {
  font-size: 25px;
  font-weight: bold;
  color: #f0ff00;
  margin: 0 0 15px 0;
}

div#thanks p {
  color: #FFF;
  font-size: 16px;
}

div#thanks p a {
  background: #f0ff00;
  color: #000;
  display: inline-block;
  padding: 3px 6px 3px 6px;
  font-weight: bold;
}

body#signup #footer {
  margin: 15px 0 0 0;
  font-size: 13px;
  color: #444f54;
}

.error_wrapper {
  background: #a40400;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin: 0 20px 20px 20px;
}

.error_wrapper h2 {
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
  background: #7b0300;
  padding: 10px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-radius-top-right: 7px;
  -webkit-border-radius-top-left: 7px;
  border-bottom: 1px #c70500 solid;
}

.error_wrapper p {
  color: #FFF;
  padding: 10px;
  display: none;
}

.error_wrapper ul {
  padding: 10px;
  margin: 0 0 0 25px;
}

.error_wrapper ul li {
  color: #FFF;
  list-style-type: decimal;
  margin: 0 0 12px 0;
}

body#signup #signup_finish p#login_remember {
  float: left;
}

body#signup #signup_finish #forgot_password {
  float: right;
}

body#signup #signup_finish #forgot_password a {
  background: transparent url(../images/icon_forgotpass.png) 0 7px no-repeat;
  display: block;
  padding: 15px 0 15px 35px;
}

body#signup #signup_finish #forgot_password a:hover {
  opacity: 0.6;
  text-decoration: none;
}

body#signup #signup_finish .reset_or_signin {
  float: left;
}

body#signup #signup_finish div.reset_or_signin {
  position: relative;
  top: 15px;
  left: 12px;
}

body#signup #signup_finish div.reset_or_signin em {
  display: block;
  float: left;
}

body#signup #signup_finish div.reset_or_signin a {
  background: #000;
  display: block;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  position: relative;
  top: -10px;
  left: 8px;
}

body#signup #signup_finish div.reset_or_signin a:hover {
  color: #FFF;
  text-decoration: none;
  background: #111213;
} 

body#signup .cancel_account .bd p {
  line-height: 24px !important;
  color: #FFF !important;
  font-size: 15px;
}

body#signup .cancel_account .bd .section h2 {
  color: #f0ff00;
  font-weight: bold;
  font-size: 22px;
}

body#signup .cancel_account .bd .section p.change_plan {
  margin: 25px 0 10px 0 !important;
}

body#signup .cancel_account .bd .section p.change_plan a {
  background: #5cb100;
  padding: 12px 15px 10px 15px;
  font-weight: bold;
  color: #FFF;
  font-size: 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 10px;
}

body#signup .cancel_account .bd .section p.change_plan a:hover {
  color: #d1e7ba;
  background: #4d9500;
  text-decoration: none;
}

body#signup .cancel_account .bd fieldset legend {
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  margin: 0 0 5px 0;
}

body#signup .cancel_account #signup_finish input {
  color: #e7bcbc;
  background: #b10000;
  padding: 8px 12px 8px 12px;
  font-weight: bold;
  color: #FFF;
  font-size: 12px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 10px;
  border: 0;
  cursor: pointer;
}
  