body#signup {
  background: #1a1c1d;
  color: #818e96;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

body#signup a, a:visited {
  color: #f0ff00;
  text-decoration: none;
}

body#signup a:hover {
  text-decoration: underline;
}

body#signup #header {
  background: transparent url(../images/tbc_hdr_bg.png) top center no-repeat;
  height: 509px;
}

body.secondary #header {
  height: 165px !important;
  border-bottom: 1px #000 solid;
}

body#signup #header_wrapper {
  width: 1100px;
  margin: 0 auto;
}

body#signup #header h1 {
  margin: 0 auto;
  position: relative;
  top: 50px;
  width: 342px;
  height: 63px;
  background: transparent url(../images/tbc_logo.png) 0 0 no-repeat;
  display: block;
  text-indent: -9999px;
}

/* BattleCenter Signup */

body#signup #content {
  border-top: 1px #383c40 solid;
}

body#signup #content_wrapper {
  margin: 20px auto;
  width: 800px;
}

body#signup #signup_wrap {
  background: #1a1d1f;
  border: 1px #25292c solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.30) 0 0 15px;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.30);
}

body#signup #signup_wrap .hd {
  background: #131617;
  border-bottom: 1px #25292c solid;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-radius-top-left: 10px;
  -webkit-border-radius-top-right: 10px;
  padding: 20px;
}

body#signup #signup_wrap .hd h1 {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #FFF;
}

body#signup .signup_options {
  padding: 20px;
  margin: 0 auto;
}

body#signup .step1 {
  width: 380px;
}

body#signup .step2 {
  width: 490px;
}

body#signup .signup_options h1 {
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 15px 0;
  text-align: center;
}

body#signup .signup_options a.options {
  display: block;
  float: left;
  padding: 40px;
  background: #131617;
  font-size: 14px;
  color: #818e96;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin: 0 5px 0 5px;
  text-align: center;
  text-decoration: none;
}

body#signup .signup_options a.options span {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #f0ff00;
  display: block;
  padding: 0 0 7px 0;
}

body#signup .signup_options a.options:hover {
  text-decoration: none;
  color: #5f696f;
  background: #000;
}

body#signup .signup_options a.options:hover span {
  text-decoration: underline;
}

body#signup #signup_wrap .section {
  margin: 20px;
  padding: 20px;
  background: #131617;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

body#signup #signup_wrap .section h1 {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #FFF;
  margin: 0 0 20px 0;
}

body#signup #signup_wrap .section p {
  margin: 5px 0 5px 0;
}

body#signup #signup_wrap .section p span {
  font-size: 12px;
}

body#signup #signup_wrap .section label {
  width: 175px;
  text-align: right;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: -0.7px;
  margin: 10px 0 0 0;
  position: relative;
  top: 4px;
}

body#signup #signup_wrap .section input {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 0;
  background: #FFF;
  padding: 12px;
  font-size: 14px;
  width: 300px;
  margin: 0 5px 0 5px;
}

body#signup #signup_wrap .section p.dropdown {
  height: 35px;
}

body#signup #signup_wrap .section p.dropdown select {
  margin: 7px 0 0 10px;
  padding: 3px;
}

body#signup #signup_wrap .section fieldset {
  margin: 0 0 25px 0;
  border-top: 1px #2a2f32 solid;
  padding: 0 0 0 15px;
}

body#signup #signup_wrap .section fieldset legend {
  padding: 7px;
}

body#signup #signup_wrap .section fieldset.last {
  margin: 0;
}

body#signup #signup_wrap #signup_finish {
  padding: 0 25px 20px 25px;
}

body#signup #signup_wrap #signup_finish button {
  background: #64ae00;
  border: 0;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #FFF;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  text-shadow: -1px -1px 0 #247a00;
  margin: 15px 0 0 0;
}

body#signup #signup_wrap #signup_finish button:hover {
  background: #4e8700;
}

div#thanks h2 {
  font-size: 25px;
  font-weight: bold;
  color: #f0ff00;
  margin: 0 0 15px 0;
}

div#thanks p {
  color: #FFF;
  font-size: 16px;
}

div#thanks p a {
  background: #f0ff00;
  color: #000;
  display: inline-block;
  padding: 3px 6px 3px 6px;
  font-weight: bold;
}

body#signup #footer {
  margin: 15px 0 0 0;
  font-size: 13px;
}

.error_wrapper {
  background: #000;
  padding: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 0 25px 0;
}

.error_wrapper h2 {
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
}

.error_wrapper p {
  color: #FFF;
}

.error_wrapper ul {
  margin: 10px 0 0 25px;
}

.error_wrapper ul li {
  color: #FFF;
  list-style-type: disc;
}
  