a, a:visited {
	color: #017ecc; /* blue */
	color: #ff5400; /* orange */
}

#header {
	background: #0197d6; /* blue */
	background: #ff5400; /* orange */
}

#nav ul li a {
	background: #0197d6; /* blue */
	background: #ff5400; /* orange */
}

#nav ul li a:hover {
	background: #0071a0; /* dark blue */
	background: #b83d00; /* dark orange */
}

#nav ul li#btn_tmenu a {
	background-color: #0197d6; /* blue */
	background-color: #ff5400; /* orange */
}

#nav ul li#btn_tmenu a span#tmenu_unread {
	color: #0197d6; /* blue */
	color: #ff5400; /* orange */
}

.tnav a.icon-add {
	background-color: #0197d6; /* blue */
	background-color: #ff5400; /* orange */
	border: 1px #007bae solid; /* dark blue */
	border: 1px #b83d00 solid; /* dark orange */
}

ul#subnav li a:hover {
	background: #0197d6; /* blue */
	background: #ff5400; /* orange */
}

input:focus, textarea:focus {
	border-color: #0197d6; /* blue */
	border-color: #ff5400; /* orange */
}

.modal .modal_hd {
	background: #017ecc; /* blue */
	background: #ff5400; /* orange */
}