a, a:visited {
	color: #017ecc; /* blue */
}

#header {
	background: #0197d6; /* blue */
}

#nav ul li a {
	background: #0197d6; /* blue */
}

#nav ul li a:hover {
	background: #0071a0; /* dark blue */
}

#nav ul li#btn_tmenu a {
	background-color: #0197d6; /* blue */
}

#nav ul li#btn_tmenu a span#tmenu_unread {
	color: #0197d6; /* blue */
}

.tnav a.icon-add {
	background-color: #0197d6; /* blue */
	
	border: 1px #007bae solid; /* dark blue */
}

ul#subnav li a:hover {
	background: #0197d6; /* blue */
}

input:focus, textarea:focus {
	border-color: #0197d6; /* blue */
}

.modal .modal_hd {
	background: #017ecc; /* blue */
}