<% stylesheet :profile %>
<% body 'profile' %>
<% title "pRoFiLe ShIt" %>

<div id="maincol">
	<div class="col">
		<div class="pod">
		<div class="bd clear">
					<div class="user_avatar"><img src="/images/avatar_big.jpg" /><a class="user_edit" href="">Edit</a></div>
					<div class="user_profile">
					<label>Name</label>
					<p>Matt Johnson <a href="">Edit</a></p>
					<label>Email</label>
					<p>matt@thebattlebegins.com <a href="">Edit</a></p>
					<label>Nickname</label>
					<p class="last">mattdetails <a href="">Edit</a></p>
					</div>
					
		</div><!-- / bd -->
		</div><!-- / pod -->
 </div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
	</div><!-- / col -->
</div><!-- / sidecol -->