<li class="match <% if match.disputed? %>disputed<% end %> <% if !match.winner.nil? %>winner-p<%= match.winner %><% end %>">
  <ul>
    
    <%= render :partial => 'player', :locals => {:player => match.slots[0].player, :match => match} %>

    
    <li class="comments"><span><a href="<%= tournament_match_path(@tournament, match) %>">
      <img src="/images/bracket_comment.gif"/> 2 | 
			<img src="/images/bracket_attachment.gif"/> 0
    </a></span></li>
    
    <%= render :partial => 'player', :locals => {:player => match.slots[1].player, :match => match} %>
    
  </ul>
</li>