<% unless player.nil? %>
<li class="player <% if !match.winner.nil? and !match.winner_is?(player) %>disqualified<% end %>">
  <a href="#" class="player_link">
    <img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> 
    <%= player.login %>
  </a>
  <% if !match.winner.nil? && match.winner != player %><img class="disqualified" src="/images/bracket_x.gif"><% end %>
  
  <% if current_user %>
    <% if current_user.is_hosting?(@tournament) %>
    <%= link_to "Manage", 
      manage_player_tournament_match_path(@tournament, match, :pid => player.id), 
      :rel => 'modal', 
      :class => 'manage_player_link' %>
    <% end %>
  <% end %>

</li>
<% else %>
<li class="player tbd">
  <span href="#" class="player_link">
    TBD
  </span>
</li>
<% end %>