<% unless player.nil? %>
<li class="player <% if match.winner_is?(player) %>disqualified<% end %>">
  <a href="#" class="player_link">
    <img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> 
    <%= player.login %>
  </a>
  <% if match.winner.nil? && match.winner == player %><img class="disqualified" src="/images/bracket_x.gif"><% end %>
</li>
<% else %>
<li class="player tbd">
  <span href="#" class="player_link">
    TBD
  </span>
</li>
<% end %>