<% 
slot ||= nil
match ||= nil
player ||= slot.player if slot
%>

<% unless player.nil? %>
  <li class="player <% if !match.winner.nil? and !match.winner_is?(player) %>disqualified<% end %>">
    
    
    <a href="#" class="player_link slot_<%= player.login %>">
      <% unless player.is_a?(Team) %><%= image_tag player.avatar.url(:small), :class => "bracket_avatar", :height => 30 %><% end %>
      <%= player.login %>
    </a>
    
    
    <% if !match.winner.nil? && match.winner != player %><img class="disqualified" src="/images/bracket_x.gif"><% end %>
    
    <% if current_user && current_user.is_hosting?(@tournament) %>
      <%= link_to "Manage", 
        [:manage, @tournament, match, slot], 
        :rel => 'modal', 
        :class => 'manage_player_link' if slot and match %>
    <% end %>

  </li>
<% else %>
  <li class="player tbd">
    <span href="#" class="player_link">
      <% if slot.try(:status) == 'bye' %>
        BYE
      <% else %>
        TBD
      <% end %>
    </span>
  </li>
<% end %>