<% stylesheet :participants %>
<% body 'participants' %>
<% title @tournament.name %>

<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav", :locals => {:active => 'participants'} %>
<% end -%>

<div id="maincol">
	<div class="pod">
		<div class="hd">
			<h2>Officials</h2>
		</div>
	<div class="bd clear player_list">
		<ul class="clear">
			<li class="clear">
				<div class="user_avatar">
					<a class="avatar" href=""><img src="/images/avatar_big.jpg" /></a>
				</div>
				<div class="user_name">
					<h2>Matt Johnson</h2>
					<p class="role">Host</p>
					<p class="activity">Last activity 1 day ago</p>
				</div><!-- / user_name -->
				<a class="user_edit" rel="modal" href="#team_invite">Edit</a>
			</li>	<li class="clear">
					<div class="user_avatar">
						<a class="avatar" href=""><img src="/images/avatar_big.jpg" /></a>
					</div>
					<div class="user_name">
						<h2>Matt Johnson</h2>
						<p class="role">Host</p>
						<p class="activity">Last activity 1 day ago</p>
					</div><!-- / user_name -->
					<a class="user_edit" href="">Edit</a>
				</li>
				<li class="clear">
					<div class="user_avatar">
						<a class="avatar" href=""><img src="/images/avatar_big.jpg" /></a>
					</div>
					<div class="user_name">
						<h2>Matt Johnson</h2>
						<p class="role">Host</p>
						<p class="activity">Last activity 1 day ago</p>
					</div><!-- / user_name -->
					<a class="user_edit" href="">Edit</a>
				</li>
				<li class="clear">
					<div class="user_avatar">
						<a class="avatar" href=""><img src="/images/avatar_big.jpg" /></a>
					</div>
					<div class="user_name">
						<h2>Matt Johnson</h2>
						<p class="role">Host</p>
						<p class="activity">Last activity 1 day ago</p>
					</div><!-- / user_name -->
					<a class="user_edit" href="">Edit</a>
				</li>
		</ul>
		<ul class="clear">
			<li class="clear">
				<div class="user_avatar">
					<a class="avatar" href=""><img src="/images/avatar_big.jpg" /></a>
				</div>
				<div class="user_name">
					<h2>Matt Johnson</h2>
					<p class="role">Host</p>
					<p class="activity">Last activity 1 day ago</p>
				</div><!-- / user_name -->
				<a class="user_edit" rel="modal" href="#team_invite">Edit</a>
			</li>	<li class="clear">
					<div class="user_avatar">
						<a class="avatar" href=""><img src="/images/avatar_big.jpg" /></a>
					</div>
					<div class="user_name">
						<h2>Matt Johnson</h2>
						<p class="role">Host</p>
						<p class="activity">Last activity 1 day ago</p>
					</div><!-- / user_name -->
					<a class="user_edit" href="">Edit</a>
				</li>
				<li class="clear">
					<div class="user_avatar">
						<a class="avatar" href=""><img src="/images/avatar_big.jpg" /></a>
					</div>
					<div class="user_name">
						<h2>Matt Johnson</h2>
						<p class="role">Host</p>
						<p class="activity">Last activity 1 day ago</p>
					</div><!-- / user_name -->
					<a class="user_edit" href="">Edit</a>
				</li>
				<li class="clear">
					<div class="user_avatar">
						<a class="avatar" href=""><img src="/images/avatar_big.jpg" /></a>
					</div>
					<div class="user_name">
						<h2>Matt Johnson</h2>
						<p class="role">Host</p>
						<p class="activity">Last activity 1 day ago</p>
					</div><!-- / user_name -->
					<a class="user_edit" href="">Edit</a>
				</li>
		</ul>
	</div><!-- / bd -->
	</div><!-- / pod -->
	
	<div class="pod tab-pod">
		<div class="hd">
			<h2>Participants</h2>
			<ul class="tabbed clear">
				<li class="create_team active"><a class="rc" href="#create_team" rel="modal">Create a Team</a></li>
			</ul>
		</div>
	<div class="bd clear player_list">
		  <% if !@tournament.active_participants.blank? %>
		  	<ul class="clear">
		    <% for p in @tournament.active_participants %>
	      <li class="clear">
  				<div class="user_avatar">
  					<a class="avatar" href=""><img src="/images/avatar_big.jpg" /></a>
  				</div>
  				<div class="user_name">
  					<h2><%= p.login %></h2>
  					<p class="activity">Last activity 1 day ago</p>
  				</div><!-- / user_name -->
  				<a class="user_edit" href="">Edit</a>
  			</li>
		    <% end %>
		    </ul>
		  <% else %>
		    No Participants
		  <% end %>
		</ul>
	</div><!-- / bd -->
	</div><!-- / pod -->
	
	<div class="pod">
		<div class="hd">
			<h2>Pending Approval</h2>
		</div>
	<div class="bd clear player_list pending_players">
    <% if !@tournament.pending_participants.blank? %>
      <ul class="clear">
      <% for p in @tournament.pending_participants %>
        <li class="clear">
  				<p class="approve_checkbox"><input type="checkbox"/></p>
  				<div class="user_avatar">
  					<a class="avatar" href=""><img src="/images/avatar_big.jpg" /></a>
  				</div>
  				<div class="user_name">
  					<h2><%= p.login %></h2>
  					<p class="activity">Last activity 1 day ago</p>		
  				</div><!-- / user_name -->
  				<a class="user_edit" href="">Edit</a>
  			</li>
      <% end %>
      </ul>
    <% else %>
      No Pending Participants
    <% end %>
		<div class="btn_wrapper"><button type="submit" class="btn"><span class="icon"></span><span>Decline Selected</span></button><button type="submit" class="btn"><span class="icon"></span><span>Approve Selected</span></button></div>
	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->