<% stylesheet :new_tournament %>
<% stylesheet :tournament_rules %>
<% title "Valor Tournament" %>

<div id="maincol">
	<div class="pod">
		<div class="hd">
			<h2>Tournament Information</h2>
		</div>
	<div class="bd clear tournament-rules">
		<h2>General Information</h2>
		<p>Stuff</p>
	</div><!-- / bd -->
	</div><!-- / pod -->
</div><!-- / main-col -->

<div id="sidecol">
	<%= render :partial => "layouts/side_tinfo" %>
</div><!-- / sidecol -->