<% stylesheet :overview, :new_tournament %>
<% title @tournament.name %>

<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav", :locals => {:active => 'overview'} %>
<% end -%>

<div id="maincol">
	<div class="col">
	<div class="pod">
	<div class="hd">
		<h2>Recent Tournament Activity</h2>
	</div><!-- / hd -->
	<div id="index_overview" class="bd">
		<table id="overview">
		  <% if !@tournament.events.blank? %>
		    <% for event in @tournament.events %>
		      <%= render :partial => "events/#{event.event_type.underscore}", :locals => {:event => event, :tournament => @tournament} %>
		    <% end %>
		  <% else %>
		     <div id="blank">
    		    <h2>No Recent Events</h2>
    		    <p>This page will highlight any events from <strong>Bracket Updates</strong>, <strong>Disputes</strong>, <strong>Messages</strong>, and <strong>Comments</strong>.</p>
    		  </div>
		  <% end %>
		</table>
	</div><!-- / bd -->
	</div><!-- / pod -->
	</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
	  <div class="account_logo">
	    <img src="/images/logo.png"/>
	  </div><!-- / account_logo -->
	</div><!-- / col -->
</div><!-- / sidecol -->