<div id="content-wrapper">
	<div id="user-nav" class="clear">
		
		<%= render :partial => "layouts/user_nav" %>
		
		<h1>Valor Tournament</h1>
		
		<%= render :partial => "layouts/sub_nav" %>
		
	</div><!-- / user-nav -->
<div id="content" class="clear">
<div id="maincol">
	<div class="pod">
	<div class="hd">
		<h2>Starcraft 2</h2>
	</div><!-- / hd -->
	<div class="bd">
		
	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->

<div id="sidecol">
</div><!-- / sidecol -->