<h1>Welcome to Battle Center!</h1>

<p>Thanks for signing up! We hope you find it useful.
if you ever have any questions or feedback <a href="">please don’t hesitate to contact us</a>!</p>

<p>You signed up for the <strong>Casual plan</strong> with the email address <a href="">matt@thebattlebegins.com</a>.</p>

<div class="section">
  <h2>Sign into your account here:</h2>
  <a href="">http://official.tbblive.com</a>
</div>

<div class="section">
  <h2>Forgot password?</h2>
  <a href="">Send reset instructions</a>
</div>
