Welcome to <%= AppConfig['app_name'] %>!
Thanks for signing up! We hope you find it useful. if you ever have any questions or feedback please don’t hesitate to contact us - http://support.thebattlebegins.com.

You signed up for the <%= @account.subscription.subscription_plan.name %> plan with the email address <%= @account.admin.email %>.
          
Sign into your account here:
http://<%= @account.full_domain %>
