<div class="pod tnav">
	<div class="hd">
		<h2>Your Tournaments</h2>
	</div><!-- / hd -->
	<div class="bd">
		<ul>
			<li><a href="/preview/tournament/show/">Starcraft 2 Tournament</a></li>
			<li><a href="/preview/tournament/show/">Some Random Tournament Name</a></li>
			<li><a href="/preview/tournament/show/">nvidia CSS League</a></li>
			<li><a href="/preview/tournament/show/">Team Fortress 2 Tournament</a></li>
			<li class="last"><a class="icon-add" href="/preview/tournament/new/">Create a new tournament</a></li>
		</ul>
	</div><!-- / bd -->
</div><!-- / pod -->