<ul class="files_attach clear">
  <% for a in attachments %>
    <li>
      <h5>Attached Files</h5>
      <a href="<%= a.attachment.url %>">
      <div class="clear">
      <%= icon_or_thumbnail a %>
      <span><%= a.attachment.original_filename %></span>
      </div>
    </a>
    </li>
	<% end %>
</ul><!-- / files_attach -->
