<% stylesheet :attachments %>
<% title "Valor Tournament" %>

<div id="maincol">
	<div class="pod">
		<div class="hd">
			<h2>Files</h2>
		</div>
	<div class="bd clear">
	</div><!-- / bd -->
	</div><!-- / pod -->
</div><!-- / main-col -->

<div id="sidecol">

</div><!-- / sidecol -->