<% stylesheet :attachments %>
<% title "Valor Tournament" %>

<div id="maincol">
	<div class="pod">
		<div class="hd">
			<h2>Files</h2>
		</div>
	<div class="bd clear">
		<div class="attachment clear">
			<img class="attach_type" src="/images/attach_types/jpg.png"/>
			<div class="attach_item">
				<a class="attach_title" href="">bracket.jpg</a>
				<p>50KB | Uploaded by James Au | June 25th, 12:30PM | <a href="">Edit</a> | <a href=""><img src="/images/trash.gif"/></a></p>
			</div><!-- / attach_title -->
		</div><!-- / attachments -->
		<div class="attachment clear">
			<img class="attach_type" src="/images/attach_types/pdf.png"/>
			<div class="attach_item">
				<a class="attach_title" href="">rules.pdf</a>
				<p>250KB | Uploaded by David Nguyen | June 5th, 2:24PM | <a href="">Edit</a> | <a href=""><img src="/images/trash.gif"/></a></p>
			</div><!-- / attach_title -->
		</div><!-- / attachments -->
		<div class="attachment clear">
			<img class="attach_type" src="/images/attach_types/zip.png"/>
			<div class="attach_item">
				<a class="attach_title" href="">My Replays</a>
				<p>1MB | Uploaded by Jon Tange | July 25th, 1:52PM | <a href="">Edit</a> | <a href=""><img src="/images/trash.gif"/></a></p>
			</div><!-- / attach_title -->
		</div><!-- / attachments -->
		<div class="attachment clear last">
			<img class="attach_type" src="/images/attach_types/doc.png"/>
			<div class="attach_item">
				<a class="attach_title" href="">Rules Draft</a>
				<p>42KB | Uploaded by David Nguyen | June 2nd, 6:30AM | <a href="">Edit</a> | <a href=""><img src="/images/trash.gif"/></a></p>
			</div><!-- / attach_title -->
		</div><!-- / attachments -->
	</div><!-- / bd -->
	</div><!-- / pod -->
</div><!-- / main-col -->

<div id="sidecol">

</div><!-- / sidecol -->