<div id="highlights">
  <ul>
    <li>
      <h3>Automated Brackets</h3>
      <p>Vivamus pretium iaculis aliquam. In pharetra mattis suscipit. Sed faucibus nunc quis lorem fermentum lacinia. Fusce odio neque, tempor id posuere.</p>
    </li>
    <li class="right">
      <h3>Automated Brackets</h3>
      <p>Vivamus pretium iaculis aliquam. In pharetra mattis suscipit. Sed faucibus nunc quis lorem fermentum lacinia. Fusce odio neque, tempor id posuere.</p>
    </li>
    <li>
      <h3>Automated Brackets</h3>
      <p>Vivamus pretium iaculis aliquam. In pharetra mattis suscipit. Sed faucibus nunc quis lorem fermentum lacinia. Fusce odio neque, tempor id posuere.</p>
    </li>
    <li class="right">
      <h3>Automated Brackets</h3>
      <p>Vivamus pretium iaculis aliquam. In pharetra mattis suscipit. Sed faucibus nunc quis lorem fermentum lacinia. Fusce odio neque, tempor id posuere.</p>
    </li>
  </ul>
</div><!-- / highlights -->
  
<div id="target">
  <h3>Lorem ipsum dolor sit consectetur</h3>
  <p>Vivamus pretium iaculis aliquam. In pharetra mattis suscipit. Sed faucibus nunc quis lorem fermentum lacinia. Fusce odio neque, tempor id posuere bibendum.</p>
  <h3>Lorem ipsum dolor sit consectetur</h3>
  <p>Vivamus pretium iaculis aliquam. In pharetra mattis suscipit. Sed faucibus nunc quis lorem fermentum lacinia. Fusce odio neque, tempor id posuere bibendum.</p>
  <h3>Lorem ipsum dolor sit consectetur</h3>
  <p>Vivamus pretium iaculis aliquam. In pharetra mattis suscipit. Sed faucibus nunc quis lorem fermentum lacinia. Fusce odio neque, tempor id posuere bibendum.</p>
</div>