<li class="announcement">
  <a href="<%= tournament_message_path(tournament, event.data.id) %>">
    <span class="icon"></span>
    <strong><%= event.data.author %></strong> announced <em><%= event.data.subject %></em>.
    <!--><div class="beta"><span class="comments"></span></div><-->
  </a>
</li>