<li class="comment">
  <a href="<%= self.send("tournament_#{event.data.commentable.klass.downcase}_path", tournament, event.data.commentable.id) %>">
    <span class="icon"></span>
    <strong><%= event.data.author %></strong> posted a reply to <em><%= event.data.commentable.subject %></em>.
    <!--><span class="comments beta">681523</span><-->
  </a>
</li>