<li class="comment">
  <a href="<%= url_for(event.data['commentable']) %>">
    <span class="icon"></span>
    <strong><%= event.data.author %></strong> posted a reply to <em><%= event.data.commentable.subject %></em>.
    <span class="comments">681523</span>
  </a>
</li>