<tr class="dispute">
	<td class="item-icon"><span>Disqualified</span></td>
	<td class="item-title" colspan="3"><%= link_to event.message, tournament_match_path(event.tournament_id, event.target_id) %></td>
	<td class="item-date"><span class="date" title="<%= event.created_at.iso8601 %>"><%= event.created_at.iso8601 %></span></td>
</tr>