<li class="disqualified">
  <a href="">
    <span class="icon"></span>
    A <strong>Dispute</strong> between <em><%= event.data['users'][0] %></em> vs <em><%= event.data['users'][1] %></em> was detected.
  </a>
</li>