<li class="dispute">
  <a href="">
    <span class="icon"></span>
    A <strong>Dispute</strong> between <em><%= event.data.opponents[0] %></em> vs <em><%= event.data.opponents[1] %></em> was detected.
  </a>
</li>