<li class="message">
  <a href="<%= tournament_message_path(tournament, event.data['id']) %>">
    <span class="icon"></span>
    <strong><%= event.data.author %></strong> posted <em><%= event.data['subject'] %></em>.
    <span class="comments">681523</span>
  </a>
</li>