<li class="bracket_update">
  <a href="<%= brackets_tournament_path(tournament) %>">
    <span class="icon"></span>
    Bracket Update: <em><%= event.data.opponents[0] %></em> victorious vs. <em><%= event.data.opponents[1] %></em>.
  </a>
</li>