<% stylesheet :match %>
<% title "Valor Tournament" %>

<div id="maincol">
	<div class="pod">
		<div class="hd">
			<h2>Match</h2>
		</div>
	<div class="bd clear">
	</div><!-- / bd -->
	</div><!-- / pod -->
</div><!-- / main-col -->

<div id="sidecol">
	<%= render :partial => "layouts/side_tinfo" %>
</div><!-- / sidecol -->