<% stylesheet :messages %>
<% stylesheet :match %>
<% title "Valor Tournament" %>

<div id="maincol">
	<div class="col">
	<div class="pod">
	<div class="bd clear">
		<div class="clear" id="match_wrapper">
			
			<div id="home_player">
				<img src="/images/avatar_big.jpg"/>
				<strong>Matt Johnson</strong>
			</div>

			<div id="match_details">
				<h2>VS</h2>
				<h3>Round 1</h3>
				<h4>6/14/09 12:23PM</h4>
				<a href="#match_submit_results" class="btn" rel="modal"><span class="icon"></span><span>Submit Results</span></a>
			</div>

			<div id="away_player">
				<img src="/images/avatar_big.jpg"/>
				<strong>Matt Johnson</strong>
			</div>
						
		</div><!-- / match_wrapper -->
	</div><!-- / bd -->
	</div><!-- / pod -->
	
	<div id="comment_mod">
	  <ul class="group">
	  </ul><!-- /comments ul -->
	
	  <div class="comment_form darkpod clear">
			<h4>Post a Comment</h4>
			<%= render :partial => 'comments/form' %>
		</div><!-- / darkpod -->
	</div><!-- / comment_mod -->
	
	</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
		<div class="pod">
		<div class="hd">
	 	 <h2>Match Notes</h2>
		</div>
			<div class="bd clear">
				<p>Best of 3 on map: ctf_2fort</p>
			</div><!-- / bd -->
		</div><!-- / pod -->
		
	</div><!-- / col -->
</div><!-- / sidecol -->