<% stylesheet :match %>
<% title "Valor Tournament" %>

<div id="maincol">
	<div class="pod">
	<div class="bd clear">
		<div class="clear" style="width: 600px; margin: 0 auto;">
			<div style="float: left;">Matt Johnson<img src="/images/avatar_big.jpg"/></div>
				
			<div style="float: right;"><img src="/images/avatar_big.jpg"/>Matt Johnson</div>
			<div style="font-size: 25px; font-weight: bold; text-align: center;">vs</div>
		</div>
		s
	</div><!-- / bd -->
	</div><!-- / pod -->
</div><!-- / main-col -->

<div id="sidecol">
</div><!-- / sidecol -->