/* Globals
----------------------------------------------------------------------------- */

body {
  background: #1a1c1d;
  color: #818e96;
  font-family: Helvetica, Arial, sans-serif;
}

a, a:visited {
  color: #f0ff00;
  text-decoration: none;
}

a, a:hover {
  text-decoration: underline;
}

/* Main Structure
----------------------------------------------------------------------------- */

#header {
  background: transparent url(/site/images/hdr_bg.png) top center no-repeat;
  height: 509px;
}

#header_wrapper {
  width: 1100px;
  margin: 0 auto;
}

#header h1 {
  float: left;
  margin: 50px 0 0 0;
}

#header h1 a {
  width: 342px;
  height: 63px;
  background: transparent url(/site/images/logo.png) 0 0 no-repeat;
  display: block;
  text-indent: -9999px;
}

#header h1 a:hover {
  opacity: 0.8;
}

#header ul#nav {
  float: right;
  margin: 65px 0 0 0;
}

#header ul#nav li {
  float: left;
  display: block;
  margin: 0 0 0 15px;
}

#header ul#nav li#btn_home a, #header ul#nav li#btn_tour a, #header ul#nav li#btn_blog a {
  width: 77px;
  height: 32px;
  background-image: url(/site/images/nav.png);
  text-indent: -9999px;
  display: block;
}

#header ul#nav li#btn_home a {
  background-position: 0 0;
}

#header ul#nav li#btn_home a:hover {
  background-position: 0 -32px;
}

#header ul#nav li#btn_home a:active {
  background-position: 0 -64px;
}

#header ul#nav li#btn_tour a {
  background-position: 0 -96px;
}

#header ul#nav li#btn_tour a:hover {
  background-position: 0 -128px;
}

#header ul#nav li#btn_tour a:active {
  background-position: 0 -160px;
}

#header ul#nav li#btn_blog a {
  background-position: 0 -192px;
}

#header ul#nav li#btn_blog a:hover {
  background-position: 0 -224px;
}

#header ul#nav li#btn_blog a:active {
  background-position: 0 -256px;
}

#header ul#nav li#btn_help a {
  width: 103px;
  height: 32px;
  background: transparent url(/site/images/nav.png) 0 -288px no-repeat;
  text-indent: -9999px;
  display: block;
}

#header ul#nav li#btn_help a:hover {
  background-position: 0 -320px;
}

#header ul#nav li#btn_help a:active {
  background-position: 0 -352px;
}

#header ul#nav li#btn_signup a {
  width: 162px;
  height: 32px;
  background: transparent url(/site/images/nav.png) 0 -384px no-repeat;
  text-indent: -9999px;
  display: block;
}

#header ul#nav li#btn_signup a:hover {
  background-position: 0 -416px;
}

#header ul#nav li#btn_signup a:active {
  background-position: 0 -448px;
}

#header #blurp h2 {
  width: 476px;
  margin: 50px 0 15px 0;
  font-size: 25px;
  font-weight: bold;
  color: #ff6200;
}

#header #blurp p {
  width: 476px;
  color: #d0e0eb;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 28px;
}

#header #signup_call {
  margin: 30px 0 0 55px;
}

#header #signup_call a#btn_plans {
  width: 284px;
  height: 88px;
  background: transparent url(/site/images/btn_plans.png) 0 0 no-repeat;
  display: block;
  text-indent: -9999px;
}

#header #signup_call a:hover#btn_plans {
  background-position: 0 -88px;
}

#header #signup_call a:active#btn_plans {
  background-position: 0 -176px;
}

#header #signup_call p {
  width: 284px;
  text-align: center;
  font-size: 13px;
  color: #d0e0eb;
  margin: 10px 0 0 0;
}

#header #signup_call p a {
  font-weight: bold;
  color: #d0e0eb;
}

#header #showcase {
  float: right;
  background: #3f464a;
  -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-box-shadow: rgba(0, 0, 0, 0.50) 0 0 20px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.50);
	position: relative;
	top: 25px;
	margin: 0 0 25px 0;
}

#header #showcase #main_img {
  padding: 10px;
  border: 1px #596369 solid;
  border-bottom: 0;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
	-webkit-border-radius: 7px;
}

#header #showcase #thumbs ul {
  padding: 10px 0 10px 17px;
  border: 1px #454d51 solid;
  border-top: 1px #596369 solid;
  background: #303537;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
	-webkit-border-radius: 7px;
}

#header #showcase #thumbs ul li {
  float: left;
  display: block;
  margin: 0 25px 0 0;
}

#header #showcase #thumbs ul li.last {
  margin: 0;
}

#header #showcase #thumbs ul li a {
  background: #555f64;
  padding: 3px;
  border: 1px #65747d solid;
  display: block;
  -moz-border-radius: 7px;
  -moz-box-shadow: rgba(0, 0, 0, 0.50) 0 0 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

#header #showcase #thumbs ul li a:hover {
  background: #0087d3;
  border-color: #00e4f5;
}

#content {
  border-top: 1px #383c40 solid;
  border-bottom: 1px #1a1c1d solid;
  background: #242729;
}

#content_wrapper {
  width: 1100px;
  margin: 0 auto;
}

#target {
  float: left;
  width: 476px;
  margin: -75px 0 0 0;
}

#target h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #afbdc5;
}

#target p {
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 50px 0;
}

#highlights {
  width: 593px;
  float: right;
}

#highlights ul {
  margin: 25px 0 0 0;
}

#highlights ul li {
  width: 294px;
  background: #000;
  -moz-border-radius: 7px;
  float: left;
  display: block;
  margin: 0 4px 4px 0;
}

#highlights ul li.right {
  margin: 0;
}

#highlights ul li h3 {
  width: auto;
  font-weight: bold;
  padding: 20px 20px 0 20px;
}

#highlights ul li p {
  padding: 20px;
  font-size: 15px;
  line-height: 22px;
}

#footer {
  background: #1a1c1d;
  border-top: 1px #34383a solid;
}

#footer_wrapper {
  width: 1100px;
  margin: 20px auto;
}

#footer #help_signup {
  margin: 0 0 25px 0;
}

#footer #help_signup a#footer_help {
  width: 219px;
  height: 59px;
  background: transparent url(/site/images/footer_help.png) 0 0 no-repeat;
  display: block;
  text-indent: -9999px;
  opacity: 0.7;
  float: left;
}

#footer #help_signup a:hover#footer_help {
  opacity: 1.0;
}

#footer #help_signup #footer_signup {
  float: right;
}

#footer #help_signup #footer_signup p {
  float: left;
  font-size: 26px;
  color: #f0ff00;
  letter-spacing: -0.5px;
  margin: 11px 15px 0 0;
}

#footer #help_signup #footer_signup p strong {
  font-weight: bold;
}

#footer #help_signup #footer_signup a {
  width: 278px;
  height: 52px;
  background: transparent url(/site/images/footer_plans.png) 0 0 no-repeat;
  display: block;
  text-indent: -9999px;
  float: right;
}

#footer #help_signup #footer_signup a:hover {
  background-position: 0 -52px;
}

#footer #help_signup #footer_signup a:active {
  background-position: 0 -104px;
}

#footer a#footer_twitter {
  width: 204px;
  height: 32px;
  background: transparent url(/site/images/footer_twitter.png) 0 0 no-repeat;
  opacity: 0.7;
  display: block;
  text-indent: -9999px;
  float: left;
  margin: 25px 0 0 0;
}

#footer a:hover#footer_twitter {
  opacity: 1.0;
}

#footer ul#footer_nav {
  float: left;
  margin: 25px 0 0 95px;
}

#footer ul#footer_nav li {
  float: left;
  display: block;
  margin: 0 5px 0 5px;
}

#footer ul#footer_nav li a {
  color: #818e96;
  font-size: 13px;
  display: block;
  padding: 8px 12px 8px 12px;
}

#footer p#footer_copy {
  margin: 25px 0 0 0;
  float: right;
  font-size: 13px;
  background: transparent url(/site/images/copy_bg.png) 0 0 no-repeat;
  display: block;
  height: 38px;
  width: 232px;
  padding: 13px 0 0 0;
  text-align: center;
}
