<% stylesheet :brackets %>
<div id="content-wrapper">
	<div id="user-nav" class="clear">
		
		<%= render :partial => "layouts/user_nav" %>
		
		<h1>Tournament Name</h1>
		
		<%= render :partial => "layouts/sub_nav" %>
		
	</div><!-- / user-nav -->
<div id="content" class="clear">
<div id="maincol">
	<div class="pod">
  	<div class="hd">
  	 <h2>Brackets</h2>
  	</div>
  	<div id="brackets" class="bd clear">
  	  
      <ul class="round" id="r1">
        <li class="match">
          <img class="bracket_path" src="/images/bracket_r1_p1.gif" />
          <ul>
            <li class="player p1 winner"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            <li class="comments"><span><a href="#"><img src="/images/comment.gif"/> 2</a> | <a href="#"><a href="#"><img src="/images/comment.gif"/> 0</a></span></li>
            <li class="player p2"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
          </ul>
        </li>
        
        <li class="match">
          <img class="bracket_path" src="/images/bracket_r1_p2.gif" />
          <ul>
            <li class="player p1"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            <li class="comments"><span><a href="#"><img src="/images/comment.gif"/> 2</a> | <a href="#"><a href="#"><img src="/images/comment.gif"/> 0</a></span></li>
            <li class="player p2 winner"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
          </ul>
        </li>
        
        <li class="match">
          <img class="bracket_path" src="/images/bracket_r1_p2.gif" />
          <ul>
            <li class="player p1 winner"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            <li class="comments"><span><a href="#"><img src="/images/comment.gif"/> 2</a> | <a href="#"><a href="#"><img src="/images/comment.gif"/> 0</a></span></li>
            <li class="player p2"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
          </ul>
        </li>
        
        <li class="match">
          <img class="bracket_path" src="/images/bracket_r1_p2.gif" />
          <ul>
            <li class="player p1 winner"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            <li class="comments"><span><a href="#"><img src="/images/comment.gif"/> 2</a> | <a href="#"><a href="#"><img src="/images/comment.gif"/> 0</a></span></li>
            <li class="player p2"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="round" id="r2">
        <li class="match">
          <img class="bracket_path" src="/images/bracket_r2_p2.gif" />
          <ul>
            <li class="player p1"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            <li class="comments"><span><a href="#"><img src="/images/comment.gif"/> 2</a> | <a href="#"><a href="#"><img src="/images/comment.gif"/> 0</a></span></li>
            <li class="player p2"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
          </ul>
        </li>
        
        <li class="match">
          <img class="bracket_path" src="/images/bracket_r2_p1.gif" />
          <ul>
            <li class="player p1"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            <li class="comments"><span><a href="#"><img src="/images/comment.gif"/> 2</a> | <a href="#"><a href="#"><img src="/images/comment.gif"/> 0</a></span></li>
            <li class="player p2"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="round" id="r3">
        <li class="match">
          <img class="bracket_path" src="/images/bracket_r3_tbd.gif" />
          <ul>
            <li class="player p1"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            <li class="comments"><span><a href="#"><img src="/images/comment.gif"/> 2</a> | <a href="#"><a href="#"><img src="/images/comment.gif"/> 0</a></span></li>
            <li class="player p2"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="round" id="r4">
        <li class="match">
          <div class="vertical_path p1winner"></div>
          <ul>
            <li class="player p1 1st"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
          </ul>
        </li>
      </ul>
      
  	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->

<div id="sidecol">
</div><!-- / sidecol -->