<% javascript 'http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js' %>
<% javascript 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js' %>
<% javascript 'jquery.background_layers' %>
<% javascript 'jquery.pulse' %>
<% stylesheet :brackets %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('.player').hover(
      function(){
        $(this).append(
          $("<div class='host_links'></div>").css({
            left: $(this).offset().left - 4,
            top: $(this).offset().top - 4
          })
        )
        $(".host_links").show(400)
        
        box = $("a:contains('" + $(this).text() + "')")        
        box.addClass('hover')
        
        match = box.parent().parent().parent()
        match.each(function(i){
          if (++i != match.size()){
            $(this).prepend($('<div class="highlight"></div>').css({left: $(this).offset().left + 141 + 'px'}))
          }
        })    
      },
      function(){
        $("a:contains('" + $(this).text() + "')").removeClass('hover')
        $(".highlight").remove()
        $(".host_links").remove()
      }
    )
    
    $('.player#me').pulse({opacityRange: [0.5, 1.0]})
  })
</script>

<div id="content-wrapper">
	<div id="user-nav" class="clear">
		
		<%= render :partial => "layouts/user_nav" %>
		
		<h1>Valor Tournament</h1>
		
		<%= render :partial => "layouts/sub_nav" %>
		
	</div><!-- / user-nav -->
<div id="content" class="clear">
<div id="maincol" class="full_width clear">

  <div id="brackets" class="bd clear">
  	  <div id="bracket_window" class="clear">
  	    <!-- ROUND 1 -->
        <ul class="round" id="r1">
          <li class="round_header"><h3>Round 1</h3></li>
          <li class="round_date">
            <span class="date">6/14/09 12:23PM</span>
            <a href="#">change</a>
          </li>
          
          <li class="match winner-p1">
            <ul>
              <li class="player"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Luke</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player disqualified"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Darth Vader</a>
                <img class="disqualified" src="/images/bracket_x.gif">
              </li>
            </ul>
          </li>
        
          <li class="match winner-p1">
            <ul>
              <li class="player" id="mattdetails-r1"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Han Solo</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player disqualified"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Boba Fett</a>
                <img class="disqualified" src="/images/bracket_x.gif">
              </li>
            </ul>
          </li>
          
          <li class="match winner-p1">
            <ul>
              <li class="player" id="mattdetails-r1"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Lando C</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player disqualified"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> CThreepio</a>
                <img class="disqualified" src="/images/bracket_x.gif">
              </li>
            </ul>
          </li>
          
          <li class="match winner-p1">
            <ul>
              <li class="player" id="mattdetails-r1"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Anakin</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player disqualified"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Obi Kenobi</a>
                <img class="disqualified" src="/images/bracket_x.gif">
              </li>
            </ul>
          </li>
        </ul>
  	    <!-- END ROUND 1 -->

  	    <!-- ROUND 2 -->
        <ul class="round" id="r2">
          <li class="round_header"><h3>Round 2</h3></li>
          <li class="round_date">
            <span class="date">6/14/09 12:23PM</span>
            <a href="#">change</a>
          </li>
          
          <li class="match winner-p2">
            <ul>
              <li class="player"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Luke</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Han Solo</a></li>
            </ul>
          </li>
          
          <li class="match winner-p1">
            <ul>
              <li class="player" id="mattdetails-r2"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Lando C</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Obi Kenobi</a></li>
            </ul>
          </li>
        </ul>
        <!-- END ROUND 2 -->
        
  	    <!-- ROUND 3 -->
        <ul class="round" id="r3">
          <li class="round_header"><h3>Round 3</h3></li>
          <li class="round_date">
            <span class="date">6/14/09 12:23PM</span>
            <a href="#">change</a>
          </li>
          
          <li class="match winner-p2">
            <ul>
              <li class="player"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Han Solo</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Lando C</a></li>
            </ul>
          </li>
        </ul>
  	    <!-- END ROUND 3 -->
        
        <!-- ROUND 4 -->
        <ul class="round final" id="r4">
          <li class="round_header"><h3>Round 4</h3></li>
          <li class="round_date">
          </li>
          
          <li class="match">
            <ul>
              <li class="player" id="me"><a href="#"><img class="bracket_avatar" src="/images/avatar_big.jpg" height="30"/> Lando C</a></li>
            </ul>
          </li>
        </ul>
  	    <!-- END ROUND 4 -->


   	  </div>
  	</div><!-- / bd -->
	
</div><!-- / main-col -->
<!-- / sidecol -->