<% stylesheet :brackets %>
<div id="content-wrapper">
	<div id="user-nav" class="clear">
		
		<%= render :partial => "layouts/user_nav" %>
		
		<h1>Tournament Name</h1>
		
		<%= render :partial => "layouts/sub_nav" %>
		
	</div><!-- / user-nav -->
<div id="content" class="clear">
<div id="maincol">
	<div class="pod">
  	<div class="hd">
  	 <h2>Brackets</h2>
  	</div>
  	<div id="brackets" class="bd clear">
  	  <div id="bracket_window" class="clear">
  	  
  	    <!-- ROUND 1 -->
        <ul class="round" id="r1">
          <li class="round_header"><h3>Round 1</h3></li>
          
          <li class="match">
            <ul>
              <li class="player p1 winner"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player p2"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            </ul>
          </li>
        
          <li class="match">
            <ul>
              <li class="player p1"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player p2 winner"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            </ul>
          </li>
        
          <li class="match">
            <ul>
              <li class="player p1 winner"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player p2"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            </ul>
          </li>
        
          <li class="match">
            <ul>
              <li class="player p1 winner"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player p2"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            </ul>
          </li>
        </ul>
  	    <!-- END ROUND 1 -->

  	    <!-- ROUND 2 -->
        <ul class="round" id="r2">
          <li class="round_header"><h3>Round 2</h3></li>
          
          <li class="match">
            <ul>
              <li class="player p1"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player p2"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            </ul>
          </li>
        
          <li class="match">
            <ul>
              <li class="player p1"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player p2"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            </ul>
          </li>
        </ul>
        <!-- END ROUND 2 -->
        
  	    <!-- ROUND 3 -->
        <ul class="round" id="r3">
          <li class="round_header"><h3>Round 3</h3></li>
          
          <li class="match">
            <ul>
              <li class="player p1"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
              <li class="comments"><span><a href="#">
                <img src="/images/bracket_comment.gif"/> 2</a> | 
                <a href="#"><a href="#"><img src="/images/bracket_attachment.gif"/> 0
              </a></span></li>
              <li class="player p2"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            </ul>
          </li>
        </ul>
  	    <!-- END ROUND 3 -->

        <!-- ROUND 4 -->
        <ul class="round final" id="r4">
          <li class="round_header"><h3>Round 3</h3></li>
          
          <li class="match">
            <ul>
              <li class="player p1"><a href="#"><img src="/images/avatar_big.jpg" height="30"/> mattdetails</a></li>
            </ul>
          </li>
        </ul>
  	    <!-- END ROUND 4 -->
   	  </div>
  	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->
<!-- / sidecol -->