<% content_for :head do -%>
<%= stylesheet_link_tag 'new_tournament' %>
<% end -%>
<div id="content-wrapper">
	<div id="user-nav" class="clear">
		
		<%= render :partial => "layouts/user_nav" %>
		
		<h1>Create a new tournament</h1>
		
		<%= render :partial => "layouts/sub_nav" %>
		
	</div><!-- / user-nav -->
<div id="content" class="clear">
<div id="maincol">
	<div class="pod">
	<div class="bd">
		<div class="darkpod">
		<h4 id="tournament_step1">Select a Game</h4>
		<dl class="clear" id="tournament_game">
			<dd><input id="game" type="text"/></dd>
		</dl>
		</div>
	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->

<div id="sidecol">
</div><!-- / sidecol -->