<div id="battle_bar" class="clear">
	<div id="bar_content">
		<div id="user_avatar">
			<a id="avatar" href=""><img src="/images/avatar_big.jpg"/> <span><%= current_user.try(:login) || 'nologin' %></span></a>
		</div><!-- / user_avatar -->
		
		<div id="your_tournaments">
			<a class="clear" href=""><span id="tmenu_txt">Your Tournaments</span> <span id="tmenu_unread">3</span></a>
			<div id="tmenu">
				<div id="tmenu_inner">
					<ul>
						<li><a href="/preview/tournaments/overview/">Starcraft 2 Tournament</a></li>
						<li><a href="/preview/tournaments/overview/">Some Random Tournament Name</a></li>
						<li><a href="/preview/tournaments/overview/">nvidia CSS League</a></li>
						<li><a href="/preview/tournaments/overview/">Team Fortress 2 Tournament</a></li>
					</ul>
				</div>
			</div>
		</div><!-- / your_tournaments -->
		
		<div id="your_matches">
			<p>All our dreams can come true, if we have the courage to pursue them. — Walt Disney</p>
		</div><!-- / your_matches -->
		<%= link_to "Logout", logout_path %>
	</div><!-- / bar_content -->
</div><!-- / battle_bar -->