<div class="pod tnav">
	<div class="hd">
		<h2>Tournaments</h2>
	</div><!-- / hd -->
	<div class="bd">
		<ul>
		  <% if !@instance.tournaments.blank? %>
		    <% for t in @instance.tournaments %>
		      <li><%= link_to t.name, tournament_path(t) %></li>
		    <% end %>
		  <% end %>
			<li class="beta"><a href="" class="beta tedit">Edit</a><a href="">Valor Tournament</a></li>
			<li class="last"><%= link_to "Create a New Tournament", new_tournament_path, :class => 'icon-add' %></li>
		</ul>
	</div><!-- / bd -->
</div><!-- / pod -->

<div class="beta pod tcompleted">
	<div class="hd">
		<h2>Completed Tournaments</h2>
	</div><!-- / hd -->
	<div class="bd">
		<ul>
			<li><a href="">Valor Tournament</a></li>
		</ul>
	</div><!-- / bd -->
</div><!-- / pod -->