
<ul id="subnav" class="clear" style="display: block;">
	<li class="active"><a href="/preview/tournaments/overview/">Overview</a></li>
	<li><a href="/preview/messages/index">Messages</a></li>
	<li><a href="/preview/tournaments/show/">Rules</a></li>
	<li><a href="/preview/tournaments/brackets/">Brackets</a></li>
	<li><a href="/preview/tournaments/participants/">Participants</a></li>
	<li><a href="">Files</a></li>
</ul><!-- / subnav -->
<ul id="right_subnav" class="clear" style="display: none;">
	<li><a href="/preview/tournaments/settings/">Tournament Settings</a></li>
</ul><!-- / right-subnav -->