<ul id="subnav" class="clear" style="display: block;">
	<li class="active"><a href="/preview/tournament/overview/">Overview</a></li>
	<li><a href="/preview/messages/index">Messages</a></li>
	<li><a href="/preview/tournament/show/">Rules</a></li>
	<li><a href="/preview/tournament/brackets/">Brackets</a></li>
	<li><a href="">Playas</a></li>
	<li><a href="">Files</a></li>
</ul><!-- / subnav -->