<% active ||= '' %>
<div id="subnav">
<ul style="display: block;">
  
  <% content_tag :li, active == 'overview' ? {:class => 'active'} : nil do -%>
    <%= link_to "Overview", tournament_path(@tournament) %>
  <% end -%>
  
	<% content_tag :li, active == 'messages' ? {:class => 'active'} : nil do -%>
    <%= link_to "Messages", tournament_messages_path(@tournament) %>
  <% end -%>
	
	<li><a href="/preview/tournaments/show/">Rules</a></li>
	
	<% content_tag :li, active == 'brackets' ? {:class => 'active'} : nil do -%>
    <%= link_to "Brackets", brackets_tournament_path(@tournament) %>
  <% end -%>
  
  <% content_tag :li, active == 'participants' ? {:class => 'active'} : nil do -%>
    <%= link_to "Participants", participants_tournament_path(@tournament) %>
  <% end -%>
  
	<li><a href="/preview/attachments/show">Files</a></li>
</ul><!-- / subnav -->

<ul id="right_subnav" class="clear" style="display: none;">
	<li><a href="">Settings</a></li>
</ul><!-- / right_subnav -->
</div><!-- / subnav -->