<div id="user-dash">
	<div id="user-avatar">
		<a href=""><img src="/images/avatar_big.jpg" /></a>
	</div>
	
	<div id="user-name">
		<h2>mattdetails</h2>
		<ul class="clear">
			<li><a href="">Account</a></li>
			<li style="padding: 6px 5px 5px 0;">|</li>
			<li><a href="">Logout</a></li>
		</ul>
	</div>
</div><!-- / user-dash -->