<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>The Battle Begins</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="robots" content="all" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<%= stylesheet_link_tag 'screen' %>
	<%= yield(:head) %>
	<link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="wrapper">
<div id="header">
	<h1>The Battle Begins</h1><!-- / logo -->
	<div id="nav">
		<ul style="float: left;">
			<li><a title="" href="/preview/accounts/dashboard/">Dashboard</a></li>
			<li><a title="" href="/preview/accounts/brackets/">Brackets</a></li>
			<li><a title="" href="/preview/accounts/schedule/">Schedule</a></li>
			<li><a title="" href="">Tournaments</a></li>
		</ul>
		
		<ul id="acct-nav">
			<li><a title="" href="/preview/accounts/edit/">Account/Billing</a></li>
			<li><a title="" href="/preview/accounts/settings/">Settings</a></li>
		</ul>
		
	</div><!-- / nav -->
</div><!-- / header -->
<%= yield %>
</div><!-- / content -->
</div><!-- / content-wrapper -->

</div><!-- / wrapper -->
<div id="footer">
	<a href="">The Battle Center</a> is a service of <a href="">The Battle Begins</a>.
	<a href="">Privacy Policy</a><a href="">Terms of Service</a>
</div><!-- / footer -->
</body>
</html>
