<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Battle Center | Host Tournaments, Not Headaches.</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="robots" content="all" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link href="site/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
	<link rel="Shortcut Icon" href="/favicon.ico?0909050105" type="image/x-icon" />
	
</head>
<body>
<div id="header">
  <div id="header_wrapper">
    <div class="clear">
    <h1><a href="">BattleCenter</a></h1>
    <ul id="nav">
      <li id="btn_home"><a href="">Home</a></li>
      <li id="btn_tour"><a href="">Tour</a></li>
      <li id="btn_blog"><a href="">Blog</a></li>
      <li id="btn_help"><a href="">Support</a></li>
      <li id="btn_signup"><a href="">Pricing &amp; Signup</a></li>
    </ul>
    </div><!-- / clear -->
    
    <div id="showcase">
      <div id="main_img">
        <img src="site/images/sample_lg.png" />
      </div><!-- / main_img -->
      <div id="thumbs">
        <ul class="clear">
          <li><a href=""><img src="site/images/sample_sm.png" /></a></li>
          <li><a href=""><img src="site/images/sample_sm.png" /></a></li>
          <li><a href=""><img src="site/images/sample_sm.png" /></a></li>
          <li><a href=""><img src="site/images/sample_sm.png" /></a></li>
          <li class="last"><a href=""><img src="site/images/sample_sm.png" /></a></li>
        </ul>
      </div><!-- / thumbs -->
    </div><!-- / showcase -->
    
    <div id="blurp">
      <h2>Lorem ipsum dolor sit amet nullam volutpat consequat nisi vel auctor</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam justo, facilisis auctor pulvinar vitae, consectetur vitae mauris. Sed tincidunt, sapien sit amet pulvinar laoreet, nisl metus semper dolor, eu consequat felis.</p>
    </div><!-- / blurp -->
    
    <div id="signup_call">
      <a id="btn_plans" href="">See Plans &amp; Pricing</a>
      <p>Or try our <a href="">Free Plan</a></p>
    </div><!-- / signup_call -->
    
  </div><!-- / header_wrapper -->
</div><!-- / header -->
<div id="content" class="clear">
  <div id="content_wrapper">
  <%= yield %>
  </div><!-- / content_wrapper -->
</div><!-- / content -->

<div id="footer">
  <div id="footer_wrapper">
    <div id="help_signup" class="clear">
      <a id="footer_help" href="">Have Questions?</a>
      <div id="footer_signup"><p>A no risk 30-day free trial on <strong><u>all accounts</u></strong>.</p> <a href="">See Plans &amp; Pricing</a></div>
    </div><!-- / help_signup -->
    
    <a id="footer_twitter" href="">Follow Us On Twitter</a>
    
    <ul id="footer_nav" class="clear">
      <li><a href="">Home</a></li>
      <li><a href="">Tour</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Support</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Terms of Service</a></li>
    </ul>
    
    <p id="footer_copy">&copy; 2009 The Battle Begins LLC &reg;</p>
      
  </div><!-- / footer_wrapper -->
</div><!-- / footer -->
</body>
</html>