<div id="content-wrapper">
	<div id="user-nav" class="clear">
		
		<%= render :partial => "layouts/user_nav" %>
		
		<h1>Bracket Overview</h1>
		
	</div><!-- / user-nav -->
<div id="content" class="clear">
<div id="maincol">
	<div class="pod">
	<div class="hd">
		<h2>Team Fortress 2 Tournament</h2>
	</div><!-- / hd -->
	<div class="bd">
		
	</div><!-- / bd -->
	</div><!-- / pod -->
	
	<div class="pod">
	<div class="hd">
		<h2>Starcraft 2 Tournament</h2>
	</div><!-- / hd -->
	<div class="bd">
		
	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->

<div id="sidecol">
	<img style="width: 250px; margin: 20px 0 0 0;" src="/images/logo.gif"/>
	<%= render :partial => "layouts/sidenav" %> 
</div><!-- / sidecol -->