<div id="maincol">
	<div class="pod">
	<div class="hd">
		<h2>Bracket Overview</h2>
	</div><!-- / hd -->
	<div class="bd">
		Bracket Stuff
	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->

<div id="sidecol">
	<img style="width: 250px; margin: 20px 0 0 0;" src="/images/logo.gif"/>
	<%= render :partial => "shared/sidenav" %> 
</div><!-- / sidecol -->