<body id="signup">
<div id="signup_wrap" class="cancel_account">
  <div class="hd">
		<h1><%= @page_title = 'Account Canceled' %></h1>
	</div><!-- / hd -->
	<div class="bd">
    <p>We're sorry to see you go, but your account has been canceled.</p>
  </div><!-- / bd -->
</div><!-- / signup_wrapper -->
