<% content_for :head do -%>
<%= stylesheet_link_tag 'overview' %>
<% end -%>
<div id="content-wrapper">
	<div id="user-nav" class="clear">
		
		<%= render :partial => "layouts/user_nav" %>
		
		<h1>Recent Activity</h1>
		
	</div><!-- / user-nav -->
<div id="content" class="clear">
<div id="maincol">
	<div class="pod">
	<div class="hd">
		<h2><a href="/preview/tournament/overview/">Starcraft 2 Tournament</a></h2>
	</div><!-- / hd -->
	<div class="bd">
		<table id="overview">
			<tr class="announcement">
				<td class="item-icon"><span>Announcement</span></td>
				<td class="item-title"><a href="/preview/messages/show">Tournament Delayed!</a></td>
				<td class="item-action">Posted by</td>
				<td class="item-posted">Matt J.</td>
				<td class="item-date">Feb 15</td>
			</tr>
			<tr class="dispute">
				<td class="item-icon"><span>Dispute</span></td>
				<td class="item-title"><a href="">Match Dispute: Matt hates car salesman.</a></td>
				<td class="item-action">Updated by</td>
				<td class="item-posted">Matt J.</td>
				<td class="item-date">Feb 15</td>
			</tr>
			<tr class="message">
				<td class="item-icon"><span>Message</span></td>
				<td class="item-title"><a href="">How does this work?</a></td>
				<td class="item-action">Posted by</td>
				<td class="item-posted">Bruce F.</td>
				<td class="item-date">Feb 15</td>
			</tr>
			<tr class="comment">
				<td class="item-icon"><span>Comment</span></td>
				<td class="item-title"><a href="">RE: How does this work?</a></td>
				<td class="item-action">Posted by</td>
				<td class="item-posted">James A.</td>
				<td class="item-date">Feb 15</td>
			</tr>
			<tr class="schedule">
				<td class="item-icon"><span>Schedule Change</span></td>
				<td class="item-title"><a href="">Your match was moved!</a></td>
				<td class="item-action">Updated by</td>
				<td class="item-posted">Matt J.</td>
				<td class="item-date">Feb 15</td>
			</tr>
			
			<tr class="brackets last">
				<td class="item-icon"><span>Bracket Update</span></td>
				<td class="item-title"><a href="">Matt Johnson takes round 2 away from James Au!</a></td>
				<td class="item-action">Updated by</td>
				<td class="item-posted">Matt J.</td>
				<td class="item-date">Feb 15</td>
			</tr>
		</table>
	</div><!-- / bd -->
	</div><!-- / pod -->
	
	<div class="pod">
	<div class="hd">
		<h2><a href="/preview/tournament/overview/">Team Fortress 2 Tournament</a></h2>
	</div><!-- / hd -->
	<div class="bd">
		<table id="overview">
			<tr class="announcement">
				<td class="item-icon"><span>Announcement</span></td>
				<td class="item-title"><a href="">Tournament Delayed!</a></td>
				<td class="item-action">Posted by</td>
				<td class="item-posted">Matt J.</td>
				<td class="item-date">Feb 15</td>
			</tr>
			<tr class="dispute">
				<td class="item-icon"><span>Dispute</span></td>
				<td class="item-title"><a href="">Match Dispute: Matt hates car salesman.</a></td>
				<td class="item-action">Updated by</td>
				<td class="item-posted">Matt J.</td>
				<td class="item-date">Feb 15</td>
			</tr>
			<tr class="message">
				<td class="item-icon"><span>Message</span></td>
				<td class="item-title"><a href="">How does this work?</a></td>
				<td class="item-action">Posted by</td>
				<td class="item-posted">Bruce F.</td>
				<td class="item-date">Feb 15</td>
			</tr>
			<tr class="comment">
				<td class="item-icon"><span>Comment</span></td>
				<td class="item-title"><a href="">RE: How does this work?</a></td>
				<td class="item-action">Posted by</td>
				<td class="item-posted">James A.</td>
				<td class="item-date">Feb 15</td>
			</tr>
			<tr class="schedule">
				<td class="item-icon"><span>Schedule Change</span></td>
				<td class="item-title"><a href="">Your match was moved!</a></td>
				<td class="item-action">Updated by</td>
				<td class="item-posted">Matt J.</td>
				<td class="item-date">Feb 15</td>
			</tr>
			<tr class="brackets last">
				<td class="item-icon"><span>Bracket Update</span></td>
				<td class="item-title"><a href="">Matt Johnson takes round 2 away from James Au!</a></td>
				<td class="item-action">Updated by</td>
				<td class="item-posted">Matt J.</td>
				<td class="item-date">Feb 15</td>
			</tr>
		</table>
	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->

<div id="sidecol">
	<img style="width: 250px; margin: 20px 0 0 0;" src="/images/logo.gif"/>
	<%= render :partial => "layouts/sidenav" %>
</div><!-- / sidecol -->