<% content_for :head do -%>
<% body 'settings' %>
<%= stylesheet_link_tag 'settings' %>
<% end -%>

<% title "Settings" %>

<div id="maincol">
<div class="col">
	<div class="pod" id="settings">
  <div class="bd clear">
		<div id="account_url" class="clear group darkpod">
		<ul>
  	  <li>
				<h2>Your URL</h2>
				http://starfeeder.tbbhere.com
				<span class="gray">(<a href="#">change URL</a>)</span>
			</li>
			<li id="account_url_input">
				http:// <input type="text" value="starfeeder"/> . <select><option>tbbonline</option><option>tbbhere</option><option>tbbnow</option><option>tbblive</option></select> .com
				<button class="btn"><span class="icon"></span><span>Save</span></button>
			</li>
  	</ul>
		</div><!-- // darkpod -->
	  <h3 class="first">Your Logo</h3>
    <div id="your_logo" class="darkpod clear">
	    <p>Your logo appears on the Login, Dashboard, and Overview pages.</p>
	    <p class="note yellow_note"><strong>NOTE:</strong> The logo must not be more than 300 pixels wide. If you keep seeing an old logo instead of the new logo you've uploaded <a href="#">see the FAQ</a>.</p>
				<% form_for '@account' do |f| -%>
					<div class="left_block"><img src="/images/missing_logo.gif" alt="logo" /></div>
	        <div class="block">
						<div><%= f.file_field :logo %></div>
						<button class="btn"><span class="icon"></span><span>Upload Logo</span></button>
					</div>
				<% end -%>
	  </div>	 
	
	  <h3>Your Site Name</h3>
    <div id="your_site_name" class="clear darkpod">
	    <p>Your site name appears at the top of every page.</p>
	    <% form_for '@account' do |f| -%>
	      <%= f.text_field :name %>
	    <% end -%>
	  </div>
	
	  <h3>Message Categories</h3>
	  <div id="message_categories" class="darkpod group clear">
	    <table>
        <tr>
        	<td>Announcements</td>
        	<td>&nbsp;</td>
        </tr>
        <tr>
        	<td>Disputes</td>
        	<td>&nbsp;</td>
        </tr>
        <tr>
        	<td>Stuff</td>
        	<td class="remove"><a href="#">remove</a></td>
        </tr>
	    </table>
	    <% form_for '@account' do |f| -%>
	    	<div class="left_block"><%= f.text_field :title %></div>
				<div class="left_block add_cat"><button class="btn add"><span class="icon"></span><span>Add Category</span></button></div>
	    <% end -%>
	  </div>
	<button class="btn"><span class="icon"></span><span>Save Changes</span></button>
	</div><!-- / bd -->
	
</div><!-- / pod -->
</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
<div class="col">
	<div class="pod">
		<div class="bd">
			Stuff
		</div><!-- // bd -->
	</div><!-- // pod -->
</div><!-- / col -->
</div><!-- / sidecol -->