<% title "Account Details" %>

<div id="maincol">
	<div class="col">
	<div class="pod">
	<div class="hd">
		<h2>Invoices</h2>
	</div><!-- / hd -->
	<div class="bd">
		
	</div><!-- / bd -->
	</div><!-- / pod -->
	</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
	<img style="width: 250px; margin: 20px 0 0 0;" src="/images/logo.gif"/>
	<%= render :partial => "layouts/sidenav" %>
	</div><!-- / col -->
</div><!-- / sidecol -->