<body id="login">
<div id="wrapper">
	<div id="content">
		<form>
			<dl>
				<dt class="username"><label for="username">Username</label></dt>
				<dd><input type="text" class="text" name="username" id="username" value="" /></dd>
				<dt><label for="email">Email</label></dt>
				<dd><input type="text" class="text" name="email" id="email" value="" /></dd>
				<dt><label for="password">Password</label></dt>
				<dd><input type="password" class="text" name="password" id="password" value="" /></dd>
				<dt><label for="cpassword">Confirm Password</label></dt>
				<dd><input type="password" class="text" name="cpassword" id="cpassword" value="" /></dd>
				<dt class="btn-submit"><button>Signup</button></dt>
				<dd class="agree"><input type="checkbox" id="rememberme" /><label for="rememberme">I Agree to the <a target="_blank" href="http://www.google.com">Terms of Service</a>.</label></dd>
			</dl>
		</form>
	</div><!-- / content -->
</div><!-- / wrapper -->