<% content_for :head do -%>
<%= stylesheet_link_tag 'settings' %>
<% end -%>
<div id="content-wrapper">
	<div id="user-nav" class="clear">
		
		<%= render :partial => "layouts/user_nav" %>
		
		<h1>Settings</h1>
		
	</div><!-- / user-nav -->
<div id="content" class="clear">
<div id="maincol">
	<div class="pod" id="settings">
  <div class="bd">
	  <ul>
  	  <li><strong>Your URL:</strong>
  	  http://starfeeder.thebattlecenter.com <span class="gray">(<a href="#">change URL</a>)</span></li>
  	  <li><strong>Account Since:</strong> Apr 21, 2006</li>
  	</ul>
  	<h3>Cancel Account</h3>
  	<div class="pod darkpod">
     	<p>We’ll be sorry to see you leave. <strong>Once you cancel your account, your Battle Center portal will be deleted immediately.</strong> If you have a paying subscription you will not be charged again after cancellation. Please note that you can always downgrade to our free plan to maintain your Battle Center portal without cancellation. This will allow you to continue hosting tournaments and easily re-upgrade as necessary.</p>
    	 <a class="rc biglink alert-rd" href="#">Please cancel my account</a>
  	</div>

	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->

<div id="sidecol">
</div><!-- / sidecol -->